@use "../../vars/variables/_index.scss" as variables;

@use "sass:math";

.bubble {
  position: absolute;
  z-index: 0;
  border-radius: 100%;
  background: radial-gradient(circle, rgba(122, 154, 189, 0.6), transparent);
  aspect-ratio: 1/1;
  animation: float 6s ease-in-out infinite alternate;
  // blur background
  filter: blur(10px);
  -moz-filter: blur(10px);
  -webkit-filter: blur(10px);
  -o-filter: blur(10px);
  pointer-events: none;
  transition: all 2s linear;
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear;
}

@for $i from variables.$startIndex through variables.$maxBubbles {
  .bubble:nth-child(#{$i}) {
    top: math.random(100) * 1%;
    left: math.random(90) * 1%;
    opacity: calc(math.random(100) / 100) + 0.2;
    max-width: 100vw;
    width: math.random(120) + 40px;
    height: auto;
  }
}
@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
