.bubble {
  position: absolute;
  z-index: 0;
  border-radius: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(122, 154, 189);
  // blur background
  filter: blur(10px);
  -moz-filter: blur(10px);
  -webkit-filter: blur(10px);
  -o-filter: blur(10px);
  pointer-events: none;
  transition: all 2s linear;
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear;
}

@for $i from $startIndex through $maxBubbles {
  .bubble:nth-child(#{$i}) {
    top: calc(percentage(random(100)) / 100);
    left: calc(percentage(random(90)) / 100);
    opacity: random();
    min-width: random($i + 100) + $i + 150 + px;
    max-width: 100vw;
  }
}
