.bg-light-alt {
  background-color: #{$light-secondary};
  color: #{$dark};
}
// theme light mode
.light-mode {
  background-color: #{$light-mode};
  color: #{$dark-mode};
}
.alt-light-mode {
  background-color: #{$light-mode-alt};
  color: #{$dark-mode};
  &:disabled {
    background-color: #{$dark-mode-alt};
    color: #{$faded};
  }
}
