@use "../../vars/variables/_index.scss" as variables;

// primary light-mode
.bg-light {
  background-color: variables.$light-primary;
  color: variables.$dark-primary;
}
// primary dark-mode
.bg-dark {
  background-color: variables.$dark-primary;
  color: variables.$light-primary;
}
.active,
.bg-dark-alt {
  background-color: variables.$dark;
  color: variables.$light;
}
// dark-mode
.dark-mode {
  background-color: variables.$dark-mode;
  color: variables.$light-mode;
}
.alt-dark-mode {
  background-color: variables.$dark-mode-alt;
  color: variables.$light-mode;
  &:disabled {
    background-color: variables.$dark-mode;
    color: variables.$faded;
  }
}
.bg-light-alt {
  background-color: variables.$light-secondary;
  color: variables.$dark;
}
// theme light mode
.light-mode {
  background-color: variables.$light-mode;
  color: variables.$dark-mode;
}
.alt-light-mode {
  background-color: variables.$light-mode-alt;
  color: variables.$dark-mode;
  &:disabled {
    background-color: variables.$dark-mode-alt;
    color: variables.$faded;
  }
}
