.form-field-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: #{$rem};
  max-height: #{$max-form-height};
  // padding: #{$rem} #{$rem025};
  width: 100%;
  scroll-behavior: smooth;
  // position: fixed;
}
.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: #{$rem};
  padding: #{$rem025};
}


.input-price-wrapper{
  align-items: center;
  display: flex;
  flex-direction: row;
}
.input-price {
width: 100%;
}
