@use "../../vars/variables/_index.scss" as variables;

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: variables.$rem;
}
.form-submit-btn {
  margin: auto;
}

.input-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  cursor: pointer;
  input {
    min-width: variables.$min-width-sm;
    width: fit-content;
  }
}
.label-name {
  padding-right: variables.$rem;
}
.password {
  width: 100%;
}
