.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
}
.form-submit-btn {
  margin: auto;
}

.input-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  cursor: pointer;
  input {
    width: fit-content;
  }
}
.label-name {
  padding-right: var(--space-medium);
}
.password {
  width: 100%;
}
