@use "../../vars/mixin/_index.scss" as mixin;
.field-upload-field {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.field-upload {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: #{$rem};
  @include mixin.devices(mobile) {
    grid-template-columns: 1fr;
  }
}
