@use '../../vars/mixin/_index.scss' as mixin;

@use '../../vars/variables/_index.scss' as variables;

.form-navigation {
  display: flex;
  flex-direction: column;
  gap: variables.$rem;
}
.form-nav {
  display: grid;
  grid-template-columns: max-content;
  gap: variables.$rem;
  @include mixin.devices(mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: variables.$rem;
  }
}
.form-buttons {
  display: flex;
  gap: variables.$rem;
  @include mixin.devices(mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: variables.$rem;
  }
}
