.form-field {
  width: 100%;
  max-width: #{$tablet};
  display: flex;
  flex-direction: column;
  gap: #{$rem};
  * {
    // fill white spaces
    width: 100%;
  }
}
.field-upload {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: #{$rem};
  @include devices(mobile) {
    grid-template-columns: 1fr;
  }
}
.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: #{$rem};
}

.input-checkbox {
  display: flex;
  justify-content: flex-start;
  input {
    min-width: #{$min-width-sm};
    width: fit-content;
  }
}
.label-name {
  padding-right: #{$rem};
}
