.form-field {
  width: 100%;
  max-width: #{$tablet};
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: #{$rem};
}

.input-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  input {
    min-width: #{$min-width-sm};
    width: fit-content;
  }
}
.label-name {
  padding-right: #{$rem};
}
.password {
  width: 100%;
}
.input-price-wrapper {
  display: flex;
  align-items: flex-end;
}
.input-price {
  // bor
  // background-color: rgb(219, 171, 171);
}
