@use "../../vars/mixin/_index.scss" as mixin;

.field-upload-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}
.field-upload {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: var(--space-medium);
  @include mixin.respond-from(mobile) {
    grid-template-columns: 1fr 1fr;
  }
}
