@use "../../vars/variables/_index.scss" as variables;

// add basic styling
.select-wrapper {
  display: flex;
  justify-content: flex-start;
  border-radius: variables.$border-radius;
  align-items: center;
  gap: variables.$rem;
  width: 100%;
}
.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  outline: 1px solid variables.$faded;
  border-radius: variables.$border-radius;
  width: 100%;
  &:focus {
    outline: 1px solid variables.$dark-mode;
  }
  &:hover {
    outline: 1px solid variables.$dark-mode;
  }
}
