.account-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  a {
    text-decoration: none;
  }
}
.admin-container {
  display: flex;
  gap: 1rem;
  @include devices(mobile) {
    // flex-wrap: wrap;
    // flex: none;
    display: block;
    // position: relative;
    .secondary-navigation {
      width: 100%;
      position: sticky;
      top: 20vh;
      background-color: #{$secondary-color2};
      z-index: 2;
      .navigation {
        margin: 0;
        .nav-link {
          border-radius: 0;
          background-color: #{$secondary-color2};
        }
        .btn-icons {
          background-color: #{$primary-color};
        }
      }
    }
  }
}
.admin-content {
  .list {
    display: flex;
    flex-wrap: wrap;
  }
  .list-item {
    flex: 1;
    // width: 100%;
  }
}
