.dashboard {
  background-color: #{$primary-color};
  border-radius: 4px;
}

.avatar-frame {
  margin: auto;
}
.avatar {
  border-radius: 50%;
  margin: auto;
}
.user-info {
  margin: 0 2rem;
  width: 100%;
}
.user {
  background-color: #{$secondary-color2};
  color: #{$primary-text};
  border-radius: #{$b-radi};
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
