@import "../vars/_variables.scss";

.bg-light {
  background-color: #{$light-primary};
  color: #{$dark-primary};
  border-radius: #{$rem-025};
}
.bg-dark {
  background-color: #{$dark-primary};
  color: #{$light-primary};
  border-radius: #{$rem-025};
  .btn {
    color: #{$light-primary};
  }
}
.bg-light-alt {
  background-color: #{$light};
  color: #{$dark};
  border-radius: #{$rem-025};
}
.bg-dark-alt {
  background-color: #{$dark};
  color: #{$light};
  border-radius: #{$rem-025};
  .btn {
    color: #{$light};
  }
}
