@import "../vars/_mixins.scss", "../vars/_variables.scss";

.btn-main {
  width: 100%;
  min-width: 150px;
}
.btn-cta {
  background-color: #{$cta-color};
  min-width: 100%;
  width: 100%;
  font-size: large;
}
.btn-primary {
  flex: 1;
}
.btn-secondary {
  border: 1px solid #{$dark};
}
.custom-btn-link {
  display: flex;
  justify-content: center;
  border-radius: #{$rem05};
}
.btn-icon {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
  .icon-label {
    flex: 1;
    text-align: left;
  }
  .ping-count {
    top: -0.5rem;
    right: -0.5rem;
  }
}

.btn-cancel {
  background-color: #{$danger};
  color: #{$light-primary};
}

.btn-burger,
.btn-x {
  min-width: 60px;
  justify-content: center;
}
.btn-list-item {
  border: 1px solid #{$dark};
}
.btn-danger {
  border: none;
  color: white;
  background-color: #{$danger};
}
.btn-payment {
  flex: 1;
  gap: #{$rem};
  justify-content: flex-start;
  .icon-store {
    min-width: 150px;
  }
}
