@import "../vars/_mixins.scss", "../vars/_variables.scss";

.btn {
  border-radius: #{$rem-025};
}
.btn-primary {
  flex: 1;
}
.btn-secondary {
  position: absolute;
  right: 0;
  bottom: 3rem;
}

.custom-btn-link {
  display: flex;
  justify-content: center;
  border-radius: #{$rem-05};
}
.btn-icons {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
  .icon-label {
    flex: 1;
    text-align: left;
  }
  .ping-count {
    top: -0.5rem;
    right: -0.5rem;
  }
}

.btn-cancel {
  border: none;
  position: absolute;
  width: 1rem;
  top: -0.5rem;
  right: -0.5rem;
  z-index: 99;
  border-radius: #{$rem-05};
}

.btn-next {
  margin: 1rem;
}
.btn-burger,
.btn-x {
  min-width: 60px;
  justify-content: center;
}
