@import "../vars/_mixins.scss", "../vars/_variables.scss";

.btn-main {
  border: 1px solid #{$faded};
  display: flex;
  justify-content: center;
  &:hover {
    border: 1px solid #{$dark-gray};
  }
  &:focus {
    border: 1px solid #{$dark-gray};
  }
}
.btn-cta {
  background-color: #{$cta-color};
  width: 100%;
  font-size: large;
}
.btn-small {
  min-width: 75px;
}
.custom-btn-link {
  display: flex;
  justify-content: center;
  border-radius: #{$border-radius};
}

.ping-count {
  top: -0.5rem;
  right: -0.5rem;
}

.btn-cancel {
  background-color: #{$danger};
  color: #{$light-primary};
}

.btn-burger,
.btn-x {
  min-width: 60px;
  justify-content: center;
}
.btn-list-item {
  border: 1px solid #{$dark};
}
.btn-danger {
  border: none;
  color: white;
  background-color: #{$danger};
}
.btn-payment {
  gap: #{$rem};
  justify-content: flex-start;
}
