@import "../vars/_variables.scss", "../vars/_mixins.scss";

.calendar {
  display: flex;
  overflow: hidden;
}
.calendar-events {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: #{$rem05};
}
.calendar-event-cart {
  display: flex;
  width: 100%;
  gap: #{$rem};
  .hero {
    min-width: 100px;
    max-height: 15vh;
  }
}
.calendar-meeting-details {
  width: 100%;
  flex: 1;
}
.btn-calendar-tile--today {
  background-color: #{$action-color};
}
.btn-calendar-tile--selected {
  background-color: #{$action-color-accent};
}
.calendar-week .day,
.btn-calendar-tile {
  flex: 1 0 13%;
  max-width: 100%;
  min-width: auto;
  @include devices(mobile) {
    width: 40px;
  }
}
.btn-calendar-tile--muted {
  cursor: not-allowed;
}
.calendar-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: #{$rem05};
  .btn-icon {
    min-width: auto;
    max-width: auto;
  }
  @include devices(mobile) {
    .btn-start,
    .btn-last {
      display: none;
    }
  }
}
.calendar-view-month {
  display: flex;
  flex-wrap: wrap;
  gap: #{$rem025};
  @include devices(mobile) {
    gap: #{$rem025};
  }
}

.calendar-navigation .heading {
  text-align: center;
}
.calendar-navigation-next-buttons .btn-icon {
  justify-content: flex-end;
}
.calendar-icon-container .btn-icon {
  max-width: fit-content;
  min-width: fit-content;
}
.btn-calendar-tile {
  position: relative;
  min-height: 50px;
  .icon-tile-ping {
    position: absolute;
    top: -9%;
    right: -2%;
    background-color: #{$ping-color};
    padding: #{$rem025};
    border-radius: 100%;
    color: #{$dark-primary};
  }
  @include devices(mobile) {
    min-height: 40px;
  }
}
.event-wrapper {
  width: 100%;
  flex: 1;
  @include devices(mobile) {
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: #{$rem025};
  width: 100%;
  @include devices(mobile) {
    width: 100%;
    align-items: center;
  }
}
