@import "../vars/_variables.scss", "../vars/_mixins.scss";

.calendar {
  display: flex;
  overflow: hidden;
}
.calendar-events {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: #{$rem05};
}
.calendar-events-wrapper {
  display: flex;
  gap: #{$rem05};
  @include devices(mobile) {
    flex-direction: column;
  }
}

.btn-calendar-tile--today {
  background-color: #{$action-color};
}
.calendar-week .day,
.btn-calendar-tile {
  flex: 1 0 13%;
  max-width: 100%;
  min-width: auto;
  @include devices(mobile) {
    width: 40px;
  }
}
.btn-calendar-tile--muted {
  cursor: not-allowed;
}
.calendar-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: #{$rem05};
  .btn-icon {
    min-width: auto;
    max-width: auto;
  }
  @include devices(mobile) {
    .btn-start,
    .btn-last {
      display: none;
    }
  }
}
.calendar-view-month {
  display: flex;
  flex-wrap: wrap;
  gap: #{$rem025};
  @include devices(mobile) {
    gap: #{$rem025};
  }
}

.calendar-navigation .heading {
  text-align: center;
}
.calendar-navigation-next-buttons .btn-icon {
  justify-content: flex-end;
}
.calendar-icon-container .btn-icon {
  max-width: fit-content;
  min-width: fit-content;
}
.btn-calendar-tile {
  position: relative;
  min-height: 50px;
  .icon-tile-ping {
    position: absolute;
    top: -9%;
    right: -2%;
    background-color: #{$ping-color};
    padding: #{$rem025};
    border-radius: 100%;
    color: #{$dark-primary};
  }
  @include devices(mobile) {
    min-height: 40px;
  }
}
.event-wrapper {
  width: 100%;
  @include devices(mobile) {
    display: flex;
    justify-content: center;
  }
}
.event-list {
  display: flex;
  flex-direction: column;
  gap: #{$rem025};
  width: 100%;
  .btn-item {
    width: 100%;
    max-width: 100%;
  }
  @include devices(mobile) {
    width: 100%;
    align-items: center;
  }
}
.calendar-event-cart {
  width: 100%;
}
// .react-calendar {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
//   min-width: 200px;
//   max-width: 700px;
//   gap: #{$rem};
//   border-radius: #{$rem05};
//   @include devices(mobile) {
//     width: 100%;
//     flex: auto;
//   }
// }
// #calendar-events {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
//   border-radius: #{$rem05};
//   gap: #{$rem};
// }
// .react-calendar__navigation {
//   display: flex;
//   .react-calendar__navigation__prev-button {
//     border-top-left-radius: 0.5rem;
//     border-right: none;
//     border-bottom-left-radius: 0.5rem;
//   }
//   .react-calendar__navigation__next-button {
//     border-top-right-radius: 0.5rem;
//     border-left: none;
//     border-bottom-right-radius: 0.5rem;
//   }
// }
// .react-calendar__tile {
//   border: none;
//   position: relative;
//   cursor: pointer;
//   max-width: 100px;
//   min-height: 45px;
//   min-width: 40px;
//   .match {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: var(--ping);
//     color: var(--primary-light-color);
//     position: absolute;
//     aspect-ratio: 1/1;
//     width: 1rem;
//     height: 1rem;
//     right: 5px;
//     top: 1px;
//     border-radius: #{$rem05};
//     padding: 0.25rem;
//   }
// }
// .react-calendar__month-view__weekdays {
//   text-align: center;
// }
// .react-calendar__navigation__label {
//   border-right: none;
//   border-left: none;
//   &:disabled {
//     cursor: default;
//   }
// }
// .react-calendar__viewContainer {
//   border-radius: #{$rem05};
// }
