@import "../vars/variables.scss", "../vars/mixins.scss";

.calendar {
  display: flex;
  // background-color: #{$secondary-color2};
}
.react-calendar {
  // background-color: #{$secondary-color};
  // color: #{$primary-text};
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  max-width: 700px;
  gap: 1rem;
  border-radius: #{$radii-round};
  @include devices(mobile) {
    width: 100%;
    flex: auto;
  }
}
#calendar-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  // background-color: #{$secondary-color2};
  border-radius: #{$radii-round};
  gap: 1rem;
}
.react-calendar__navigation {
  display: flex;
  // border-top: 1px solid #{$secondary-color};
  button {
    // background-color: #{$secondary-color2};
    // color: #{$primary-text};
    border-radius: 0;
    // &:disabled {
    //   // background-color: #{$secondary-color2};
    // }
    // &:focus {
    //   // background-color: #{$secondary-color2};
    // }
  }
}
// .react-calendar__navigation__arrow {
//   // border-right: 1px solid #{$secondary-color};
//   // border-left: 1px solid #{$secondary-color};
// }
// .react-calendar__viewContainer {
//   // color: #{$primary-color};
// }
.react-calendar__tile {
  position: relative;
  cursor: pointer;
  max-width: 100px;
  min-height: 45px;
  min-width: 40px;
  // color: #{$secondary-text};
  .match {
    position: absolute;
    // background-color: #{$danger};
    // color: #{$secondary-text};
    width: 1rem;
    height: 1rem;
    top: 1px;
    right: 0;
    border-radius: #{$radii-circle};
    padding: 0.25rem;
  }
  // &:hover {
  //   // color: #{$primary-text};
  // }
  // &:disabled {
  //   // color: #{$primary-text};
  //   cursor: not-allowed;
  // }
}
.react-calendar__month-view__weekdays {
  // color: #{$secondary-text};
  text-align: center;
}
.react-calendar__navigation__arrow {
  cursor: pointer;
  &:disabled {
    // color: #{$secondary-text};
    cursor: not-allowed;
  }
}
.react-calendar__navigation__label {
  // color: #{$primary-color};
  // &:hover {
  //   // background-color: #{$secondary-color2};
  // }
  &:disabled {
    cursor: default;
  }
}
