@import "../vars/_variables.scss", "../vars/_mixins.scss";

.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.calendar-events {
  display: flex;
  width: 100%;
  gap: #{$rem};
  @include devices(mobile) {
    flex-direction: column;
  }
}
.calendar-event-cart {
  display: flex;
  width: 100%;
  gap: #{$rem};
  .hero {
    max-height: 15vh;
  }
}
.calendar-package-details {
  width: 100%;
  flex: 1;
  max-width: 100%;
  text-align: left;
  align-items: flex-start;
}
.btn-calendar-tile {
  min-width: auto;
  padding: 0;
}
.btn-calendar-tile--today {
  background-color: #{$action-color};
}
.btn-calendar-tile--selected {
  background-color: #{$action-color-accent};
}

.btn-calendar-tile--muted {
  cursor: not-allowed;
}
.calendar-navigation {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  @include devices(mobile) {
    .btn-start,
    .btn-last {
      display: none;
    }
  }
}

.calendar-week,
.calendar-view-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-navigation .heading {
  text-align: center;
}
.calendar-navigation-next-buttons {
  justify-content: flex-end;
}

.btn-calendar-tile {
  position: relative;
  min-height: 50px;
  .icon-tile-ping {
    position: absolute;
    top: -9%;
    right: -2%;
    background-color: #{$ping-color};
    padding: #{$rem025};
    border-radius: 100%;
    color: #{$dark-primary};
  }
  @include devices(mobile) {
    min-height: 40px;
  }
}
.event-wrapper {
  width: 100%;
  flex: 1;
  @include devices(mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: #{$rem025};
  width: 100%;
  @include devices(mobile) {
    width: 100%;
    align-items: center;
  }
}
