@import "../vars/_mixins.scss", "../vars/_variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: #{$rem};
}
.container-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}
.primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: #{$rem};
  @include devices(mobile) {
    flex: 0 0 100%;
    width: auto;
  }
}

.secondary-container {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  width: 100%;
  gap: #{$rem};
  @include devices(mobile) {
    width: auto;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: #{$rem};
  justify-content: center;
}
.container-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 80vh;
  gap: #{$rem};
  border-radius: #{$border-radius};
  .btn-cta {
    max-height: 50px;
    max-width: 500px;
    min-width: auto;
  }
}
.section-container {
  flex-direction: column;
  display: flex;
  border-radius: #{$border-radius};
  gap: 0.5rem;
}
.secondary-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.bag-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.alt-container {
  border-radius: #{$border-radius};
  overflow-y: auto;
  overflow-x: hidden;
}
.feature-card-container {
  display: flex;
  gap: #{$rem};
  flex-wrap: wrap;
  justify-content: space-around;
}
.page-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: #{$rem};
}
