@import "../vars/_mixins.scss", "../vars/_variables.scss";

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: #{$rem};
}
.container-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}
.primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: #{$rem};
  @include devices(mobile) {
    flex: 0 0 100%;
    width: auto;
  }
}

.secondary-container {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  width: 100%;
  gap: #{$rem};
  @include devices(mobile) {
    width: auto;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: #{$rem};
  justify-content: center;
}
.container-empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  min-width: 200px;
  gap: #{$rem};
  border-radius: #{$rem05};
  .fa-left-long {
    @include devices(mobile) {
      transform: rotate(90deg);
    }
  }
}
.section-container {
  flex-direction: column;
  display: flex;
  border-radius: #{$rem05};
  gap: 0.5rem;
}
.secondary-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.bag-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.alt-container {
  border-radius: #{$rem05};
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
