@import "../vars/_mixins.scss", "../vars/_variables.scss";

.p-sm {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-verticle {
  padding: 1rem 0;
}
.elbow-space {
  padding: 0 1rem;
}
.text-center {
  text-align: center;
}
.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}
.ping {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: #{$border-radius};
  width: 25px;
  height: 25px;
  right: -0.5rem;
  top: -0.5rem;
}
.navlink {
  text-decoration: none;
}
.w-100 {
  width: 100%;
}
.m-tb {
  margin: 1rem 0;
}
.m-horizontal {
  margin: 0 1rem;
}
.highlight {
  outline: 1px solid #{$faded};
  &:focus {
    outline: 1px solid #{$dark-gray};
  }
  &:hover {
    outline: 1px solid #{$dark-gray};
  }
}
.required {
  color: #{$danger};
}
