@import "../vars/_mixins.scss", "../vars/_variables.scss";

.children {
  display: flex;
  flex-wrap: wrap;
  gap: #{$gap};
}
.p-sm {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-verticle {
  padding: 0 1rem;
}
.p-horizontal {
  padding: 1rem 0;
}
.bg-light {
  // background-color: #{$secondary-color2};
  border-radius: #{$rem-05};
}
.bg-dark {
  // background-color: #{$secondary-color};
  border-radius: #{$rem-05};
  // color: #{$secondary-text};
}
.text-center {
  justify-content: center;
  text-align: center;
}
.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}
.ping {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: #{$rem-05-full};
  width: 25px;
  height: 25px;
  right: -0.5rem;
  top: -0.5rem;
}
.link {
  text-decoration: none;
}
