@import "../vars/_mixins.scss", "../vars/_variables.scss";

.children {
  display: flex;
  flex-wrap: wrap;
  gap: #{$rem};
}
.p-sm {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-verticle {
  padding: 0 1rem;
}
.p-horizontal {
  padding: 1rem 0;
}
.text-center {
  text-align: center;
}
.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}
.ping {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: #{$rem05};
  width: 25px;
  height: 25px;
  right: -0.5rem;
  top: -0.5rem;
}
.navlink {
  text-decoration: none;
}
.w-100 {
  width: 100%;
}
