@import "../vars/mixins.scss", "../vars/variables.scss";

.children {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.p-sm {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.bg-light {
  background-color: #{$secondary-color2};
  border-radius: #{$radii-round};
}
.bg-dark {
  background-color: #{$secondary-color};
  border-radius: #{$radii-round};
  color: #{$secondary-text};
}
.t-center {
  justify-content: center;
  text-align: center;
}
