.loading {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
}
.error-message-container {
  border: 1px dotted #{$danger};
  // max-height: 200px;
  width: 100%;
  padding: #{$rem};
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.error-message {
  color: #{$danger};
  max-width: 100%;
}
