.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-g {
  display: flex;
  gap: #{$rem05};
}
.flex-d-row {
  display: flex;
  flex-direction: row;
  gap: #{$rem05};
}
.flex-d-column {
  display: flex;
  flex-direction: column;
  gap: #{$rem05};
}
.flex-j-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: #{$rem05};
}
.flex-j-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-j-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-w {
  display: flex;
  flex-wrap: wrap;
  gap: #{$rem05};
}
.flex-center {
  display: flex;
  justify-content: center;
  gap: #{$rem05};
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: #{$rem05};
}
