@import "../vars/mixins.scss", "../vars/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  input,
  textarea {
    // border: 1px solid #{$primary-color};
    border-radius: #{$radii-round};
  }
}
.input {
  min-width: 250px;
  padding: 0.5rem 1rem;
}
.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.shipping-form {
  label {
    text-decoration: underline;
  }
  .form-fields {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
  }
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input {
  // max-width: 150px;
  padding: 0.5rem 1rem;
  min-width: 250px;
  @include devices(mini) {
    max-width: 120px;
  }
}

.form-link-wrapper {
  text-align: center;
  .form-link {
    color: white;
    padding-bottom: 1rem;
  }
}
.horizontal-fields {
  flex-direction: column;
  .input {
    max-width: 500px;
  }
}
.no-capcha-form {
  max-width: #{$tablet};
  width: 100%;
  .label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .required {
      flex-shrink: 1;
      margin-left: auto;
    }
  }
}
#contact-user-form {
  width: 100%;
}
