@import "../vars/_mixins.scss", "../vars/_variables.scss";

.form-secondary {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.form-field {
  max-width: #{$tablet};
  width: 100%;
  * {
    width: 100%;
  }
  @include devices(mobile) {
    display: flex;
    flex-direction: column;
    gap: #{$rem};
    * {
      max-width: 100%;
    }
  }
}
.field-upload {
  display: flex;
  align-items: flex-start;
  gap: #{$rem};
  min-height: #{$min-width};
  @include devices(mobile) {
    flex-direction: column;
    align-items: center;
    * {
      width: 100%;
    }
  }
}
.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: #{$rem};
}

.password-checker {
  max-width: 100%;
}
.form-field {
  &:has(> .input-checkbox) {
    display: flex;
    flex-direction: row-reverse;
    .input-checkbox {
      min-width: #{$min-width-icons};
      width: fit-content;
    }
  }
}
.label-name {
  padding-right: #{$rem};
}
