@import "../vars/_mixins.scss", "../vars/_variables.scss";

.form-secondary {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.form-field {
  width: 100%;
  max-width: #{$tablet};
  display: flex;
  flex-direction: column;
  gap: #{$rem};
  * {
    // fill white spaces
    width: 100%;
  }
}
.field-upload {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: #{$rem};
  @include devices(mobile) {
    grid-template-columns: 1fr;
  }
}
.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: #{$rem};
}

.password-checker {
  max-width: 100%;
}
.input-checkbox {
  display: flex;
  justify-content: flex-start;
  input {
    min-width: #{$min-width-sm};
    width: fit-content;
  }
  // flex-direction: row-reverse;
}
.label-name {
  padding-right: #{$rem};
}
.form-navigation {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.form-nav {
  // display: flex;
  display: grid;
  grid-template-columns: max-content;

  gap: #{$rem};
  @include devices(mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: #{$rem};
  }
}
.form-buttons {
  display: flex;
  gap: #{$rem};
  @include devices(mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: #{$rem};
  }
}
