@import "../vars/_mixins.scss", "../vars/_variables.scss";

.form-secondary {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.form-field {
  width: 100%;
  max-width: #{$tablet};
  display: flex;
  flex-direction: column;
  gap: #{$rem};
  * {
    // fill white spaces
    width: 100%;
  }
}
.field-upload {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: #{$rem};
  .btn-main {
    margin-left: auto;
  }
}
.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: #{$rem};
}

.password-checker {
  max-width: 100%;
}
.form-field {
  &:has(> .input-checkbox) {
    display: flex;
    flex-direction: row-reverse;
    .input-checkbox {
      min-width: #{$min-width-icons};
      width: fit-content;
    }
  }
}
.label-name {
  padding-right: #{$rem};
}
