@import "../vars/_mixins.scss", "../vars/_variables.scss";

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: auto;
  gap: #{$rem};
}
