@import "../vars/_variables";

.hero {
  display: block;
  width: 100%;
  max-width: 450px;
  min-width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: #{$border-radius};
}
.hero-card-header {
  object-fit: contain;
}
.hero-main {
  max-width: 600px;
  min-width: #{$min-width};
}
.hero-card {
  position: relative;
  display: flex;
  gap: #{$rem};
  justify-content: space-between;
  @include devices(mobile) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.hero-card-heading {
  width: 100%;
  min-width: #{$min-width};
  max-width: 28ch;
}
.hero-card-body-alt {
  display: flex;
  gap: #{$rem};
  @include devices(mobile) {
    flex-wrap: wrap;
  }
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 250px;
}

.hero-logo {
  max-width: 70px;
}
.logo {
  display: flex;
  align-items: center;
  gap: #{$rem025};
}
.hero-user {
  border-radius: 100%;
  max-width: 100px;
  aspect-ratio: 1/1;
}

.blur-load {
  background-size: cover;
  background-position: center;
  border-radius: #{$border-radius};
}
.blur-load--loaded {
  background-image: none !important;
  & > .hero {
    opacity: 1;
  }
}
.blur-load > .hero {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.feature-hero {
  aspect-ratio: 1/1;
}
.thumbnail {
  aspect-ratio: 16/9;
}
.preview-hero {
  aspect-ratio: 1/1;
  object-fit: contain;
  max-height: #{$min-width};
  max-width: #{$max-width-sm};
}
