.hero {
  border-radius: 0.5rem;
  width: 100%;
  max-width: 450px;
}
.hero-main {
  min-height: 50vh;
  max-height: 60vh;
  max-width: 600px;
  min-width: 400px;
}
.hero-card {
  position: relative;
  display: flex;
  gap: #{$rem05};
  justify-content: space-between;
  @include devices(mobile) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    .hero-card-heading {
      width: 100%;
    }
  }
}
.hero-card-body-alt {
  display: flex;
  gap: #{$rem};
  @include devices(mobile) {
    flex-wrap: wrap;
  }
}
.hero-container {
  display: flex;
  align-items: center;
}
.hero-card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 250px;
}

.hero-logo {
  max-width: 70px;
}
.logo {
  display: flex;
  align-items: center;
  gap: #{$rem025};
}
.hero-user {
  border-radius: 100%;
  max-width: 100px;
}
.hero-icon {
  max-width: 150px;
  max-height: 40px;
}
.credit-unsplash {
  .hero {
    min-width: 100%;
    width: 100%;
  }
}
