@import "../vars/_variables";

.hero {
  display: block;
  width: 100%;
  max-width: 450px;
  min-width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: #{$border-radius};
}
.hero-card-header {
  object-fit: contain;
}
.hero-main {
  max-width: 600px;
  min-width: #{$min-width};
}
.hero-card {
  position: relative;
  display: flex;
  gap: #{$rem};
  justify-content: space-between;
  @include devices(mobile) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.hero-card-heading {
  width: 100%;
  min-width: #{$min-width};
  max-width: 28ch;
}
.hero-card-body-alt {
  display: flex;
  gap: #{$rem};
  @include devices(mobile) {
    flex-wrap: wrap;
  }
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 250px;
}

.hero-logo {
  max-width: 70px;
}
.logo {
  min-width: 100px;
  max-width: 150px;
  max-height: 150px;
  min-height: 100px;
}
.hero-user {
  border-radius: 100%;
  max-width: 100px;
  aspect-ratio: 1/1;
}

.blur-load {
  background-size: cover;
  background-position: center;
  border-radius: #{$border-radius};
}
.blur-load--loaded {
  background-image: none !important;
  & > .hero {
    opacity: 1;
  }
}
.blur-load > .hero {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.feature-hero {
  aspect-ratio: 1/1;
}
.thumbnail {
  aspect-ratio: 16/9;
}
.preview-hero {
  aspect-ratio: 1/1;
  object-fit: contain;
  max-height: #{$min-width};
  max-width: #{$max-width-sm};
}
.preview-hero-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
  aspect-ratio: 1/1;
  max-height: #{$min-width};
  max-width: #{$max-width-sm};
  border-radius: #{$border-radius};
  border: 1px solid #{$dark};
}
.preview-cancel {
  position: absolute;
  top: 10%;
  left: 85%;
  min-width: min-content;
  width: 25px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.preview-hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.hero-icon {
  max-width: #{$min-width-sm};
  color: inherit;
}
