.hero {
  border-radius: 0.5rem;
  width: 100%;
}
.hero-main {
  min-height: 50vh;
  max-height: 60vh;
  max-width: 600px;
  min-width: 400px;
}
.hero-card {
  position: relative;
  display: flex;
  gap: #{$rem05};
  justify-content: space-between;
  @include devices(mobile) {
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    .hero-card-heading {
      margin: auto;
    }
  }
}
.hero-container {
  display: flex;
  align-items: center;
  // padding: 1rem 0;
  // .hero-main {
  //   height: 100%;
  //   margin: auto 0;
  // }
}
.hero-card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 250px;
}

.hero-logo {
  max-width: 70px;
}
.logo {
  display: flex;
  align-items: center;
  gap: #{$rem025};
}
