@import "../vars/_mixins.scss", "../vars/_variables.scss";

.icon {
  min-width: 1rem;
}
.icon-instagram {
  color: #{$instagram};
}
.icon-twitter {
  color: #{$twitter};
}
.icon-hero {
  width: 150px;
}
.socials {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.socials-icons {
  margin: auto;
  display: flex;
  gap: #{$rem05};
}
