@import "../vars/_mixins.scss", "../vars/_variables.scss";

.icon {
  min-width: 1rem;
}
.icon-instagram {
  color: #{$instagram};
}
.icon-twitter {
  color: #{$twitter};
}
.icon-hero {
  width: 150px;
}
.icon-star {
  color: white;
  stroke: #{$star};
  stroke-width: 3rem;
}
.icon-star-filled {
  color: #{$star-filled};
}
.socials {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.socials-icons {
  margin: 1rem auto;
  display: flex;
  gap: #{$rem05};
}
