@import "../vars/_mixins.scss", "../vars/_variables.scss";

.primary-navigation {
  @include devices(tablet) {
    display: none;
  }
}
.secondary-navigation {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0.5rem;
}
.mobile-navigation {
  display: none;
  .navigation {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    list-style: none;
    border-radius: #{$rem-05};
    top: 15%;
    right: 0;
    z-index: 999;
    min-width: 250px;
    min-height: 70vh;
    padding: #{$rem-05} #{$rem-1};
    transition: clip-path ease-in-out 700ms;
  }
  .navigation[data-state="open"] {
    animation: circleOpen 750ms ease-in-out forwards;
  }
  .navigation[data-state="closing"] {
    display: block;
    animation: circleClose ease-in-out forwards;
  }
  .navigation[data-state="close"] {
    display: none;
  }
  @include devices(tablet) {
    display: flex;
  }
}
.navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  list-style-type: none;
  gap: #{$rem-05};
  border-radius: #{$rem-05};
}
.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: #{$gap};
  padding: 0 #{$rem-1};
}
.nav-link {
  display: flex;
  text-decoration: none;
  position: relative;
  flex: 1;
}
.nav-link[data-state="active"] {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 100%;
}
.ping-count {
  position: absolute;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: #{$rem-05};
  padding: 0.35rem;
}
.checkout-navigation {
  display: flex;
  flex-direction: column;
}
