@import "../vars/variables.scss";

.read-more-wrapper {
  position: relative;
}
.read-more {
  --max-lines: 3;
  --line-height: 1.4;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  position: relative;
  overflow: hidden;
  &:has(+ .read-more-toggle:not(:checked))::before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    // background: linear-gradient(to bottom, transparent, #{$secondary-color2});
  }
  &:has(+ .read-more-toggle:checked) {
    max-height: none;
  }
}

.read-more-toggle {
  appearance: none;
  cursor: pointer;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-radius: 0.25rem;
  &::before {
    content: "...Read More";
  }
  &:checked::before {
    content: "Collapse";
  }
}
.message-success {
  border-radius: #{$rem-05};
  // color: #{$primary-text};
  // background-color: #{$primary-color2};
}
