.heading-container {
  display: flex;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-mute {
  color: #{$muted};
}
.sub-title {
  text-align: left;
}
.credit-to {
  min-width: auto;
}
.text-max {
  max-width: 100%;
  width: 100%;
}
.text-bubble {
  height: fit-content;
  background-color: #{$text-bubble};
  padding: #{$rem};
  border-radius: #{$border-radius};
  max-width: 100%;
}
.rating {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: #{$rem} 0;
  width: max-content;
}
.btn-rating {
  min-width: fit-content;
  padding: 0;
  .icon-star,
  .icon-star-filled {
    min-width: 30px;
    min-height: 30px;
  }
}
.total {
  margin-left: auto;
  .cost {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #{$dark};
  }
}
.heading {
  min-width: #{$min-width};
}
