.heading-container {
  display: flex;
  flex: 1;
  .heading {
    width: 100%;
  }
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-mute {
  color: #{$muted};
}
