.heading-container {
  display: flex;
  flex: 1;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-mute {
  color: #{$muted};
}
.sub-title {
  text-align: left;
}
.credit-to {
  min-width: auto;
}
.p-stretch {
  max-width: 100%;
  width: 100%;
}
.text-bubble {
  height: fit-content;
  background-color: #{$text-bubble};
  padding: #{$rem};
  border-radius: #{$rem} 0;
}
.rating {
  display: flex;
  gap: #{$rem025};
  padding: #{$rem};
}
.btn-rating {
  min-width: fit-content;
  padding: 0;
  .icon-star,
  .icon-star-filled {
    min-width: 35px;
    min-height: 35px;
  }
}
.total {
  margin-left: auto;
  .cost {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #{$dark};
  }
}
.error-message {
  color: #{$danger};
  max-width: 100%;
}
.heading {
  min-width: 150px;
}
