.heading-container {
  display: flex;
  flex: 1;
  .heading {
    width: 100%;
  }
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-mute {
  color: #{$muted};
}
.sub-title {
  text-align: left;
}
.hero-card-heading {
  width: 17ch;
}
.p-stretch {
  max-width: 100%;
}
.text-bubble {
  background-color: #{$text-bubble};
  padding: #{$rem05};
  border-radius: #{$rem} 0;
}
