.heading-container {
  display: flex;
  flex: 1;
  .heading {
    width: 100%;
  }
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-mute {
  color: #{$muted};
}
.sub-title {
  text-align: left;
}
.hero-card-heading {
  width: 45vw;
  max-width: 23ch;
}
.p-stretch {
  max-width: 100%;
  width: 100%;
}
.text-bubble {
  height: fit-content;
  background-color: #{$text-bubble};
  padding: #{$rem05};
  border-radius: #{$rem} 0;
}
.rating {
  display: flex;
  gap: #{$rem025};
  padding: #{$rem};
}
.btn-rating {
  min-width: fit-content;
  padding: 0;
  .icon-star,
  .icon-star-filled {
    min-width: 35px;
    min-height: 35px;
  }
}
