.bg-light {
  background-color: #{$light-primary};
  color: #{$dark-primary};
}
.bg-dark {
  background-color: #{$dark-primary};
  color: #{$light-primary};
}
.bg-light-alt {
  background-color: #{$light-secondary};
  color: #{$dark};
}
.bg-dark-alt {
  background-color: #{$dark};
  color: #{$light};
}
.bg-default {
  background-color: #{$light};
  color: #{$default-text};
}
