.bg-light {
  background-color: #{$light-primary};
  color: #{$dark-primary};
}
.bg-dark {
  background-color: #{$dark-primary};
  color: #{$light-primary};
}
.bg-light-alt {
  background-color: #{$light-secondary};
  color: #{$dark};
}
.active,
.bg-dark-alt {
  background-color: #{$dark};
  color: #{$light};
}
.bg-default {
  background-color: #{$light};
  color: #{$default-text};
}
.light-mode {
  background-color: #{$light-mode};

}
.dark-mode {
  background-color: #{$dark-mode};
  color: #{$light-mode};

}
.alt-light-mode {
  background-color: #{$dark-mode-alt};
  color: #{$light-mode};
  &:disabled{
    background-color: #{$dark-mode-alt};
    color: #{$faded};
  }
}
.alt-dark-mode {
  background-color: #{$dark-mode-alt};
  color: #{$light-mode};
  &:disabled{
    background-color: #{$dark-mode};
    color: #{$faded};
  }
}
