.error-message {
  color: #{$danger};
  max-width: 100%;
}
.success {
  color: #{$success};
  max-width: 100%;
}
.heading-container {
  display: flex;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-mute {
  color: #{$muted};
}
.sub-title {
  text-align: left;
}
.credit-to {
  min-width: auto;
}
.w-max,
.w-full,
.text-max {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}
.w-full-child {
  width: 100%;
  * {
    min-width: 100%;
    width: 100%;
  }
}

.rating {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: #{$rem} 0;
  width: max-content;
}
.btn-rating {
  min-width: fit-content;
  padding: 0;
  .icon-star,
  .icon-star-filled {
    min-width: 30px;
    min-height: 30px;
  }
}
.total {
  margin-left: auto;
  .cost {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #{$dark};
  }
}
.heading {
  width: 100%;
  // min-width: #{$min-heading-width};
  text-align: left;
}

.size-3x {
  font-size: xx-large;
}
