button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: #{$b-radi};
  padding: 0.5rem 1rem;
  &:disabled {
    cursor: not-allowed;
  }
}
.btn-primary {
  background-color: #{$primary-color};
  color: #{$primary-text};
  flex: 1;
  &:hover {
    background-color: #{$primary-color2};
    color: #{$primary-text};
  }
  &:disabled {
    background-color: #{$primary-color3};
    color: #{$primary-text};
  }
  &:focus {
    background-color: #{$primary-color2};
    color: #{$primary-text};
  }
}
.btn-secondary {
  position: absolute;
  color: #{$primary-text};
  right: 0;
  bottom: 3rem;
  &:hover {
    background-color: #{$secondary-color};
    color: #{$primary-text};
  }
  &:disabled {
    background-color: #{$secondary-color2};
    color: #{$primary-text};
  }
  &:focus {
    background-color: #{$secondary-color};
    color: #{$primary-text};
  }
}

.custom-btn-link {
  display: flex;
  justify-content: center;
  background-color: #{$secondary-color};
  color: white;
  border-radius: #{$b-radi};
}
.btn-icons {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
  background-color: #{$secondary-color2};
  .icon-label {
    flex: 1;
    text-align: left;
  }
  .ping-count {
    top: -0.5rem;
    right: -0.5rem;
  }
}
.btn-main {
  display: flex;
  gap: 0.5rem;
  color: #{$secondary-text};
  background-color: #{$primary-color};
}
.btn-cancel {
  position: absolute;
  background-color: #{$danger};
  color: #{$secondary-text};
  width: 1rem;
  top: -0.5rem;
  right: -0.5rem;
  z-index: 99;
  border-radius: #{$b-full};
}
.btn-search {
  margin: auto;
  color: #{$primary-text};
  &:hover {
    background-color: #{$primary-color2};
    color: #{$primary-text};
  }
  &:disabled {
    background-color: #{$primary-color3};
    color: #{$primary-text};
  }
}
.btn-back {
  background-color: #{$secondary-color};
}
.btn-danger {
  background-color: #{$danger};
  color: #{$secondary-text};
}
.btn {
  display: flex;
  border-radius: #{$b-radi};
  gap: 1rem;
}
.btn-link {
  background-color: #{$secondary-color2};
  color: #{$primary-text};
  // position: sticky;
  text-decoration: underline;
  text-decoration: none;
  // z-index: 2;
  // top: 25%;
  // margin: 0 1rem;
  // flex: 1;
  // border-radius: #{$b-radi};
}
.btn-step {
  background-color: #{$secondary-color2};
  border-radius: 0;
  width: 100%;
  .link {
    text-decoration: underline;
  }
}
.btn-next {
  margin: 1rem;
}
.btn-back {
  display: flex;
  color: white;
  gap: 1rem;
}
