/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
button:disabled {
  cursor: not-allowed;
}

.btn-primary {
  background-color: #b33951;
  color: #333;
  flex: 1;
}
.btn-primary:hover {
  background-color: #e3d081;
  color: #333;
}
.btn-primary:disabled {
  background-color: #91c7b1;
  color: #333;
}
.btn-primary:focus {
  background-color: #e3d081;
  color: #333;
}

.btn-secondary {
  position: absolute;
  color: #333;
  right: 0;
  bottom: 3rem;
}
.btn-secondary:hover {
  background-color: #54494b;
  color: #333;
}
.btn-secondary:disabled {
  background-color: #f1f7ed;
  color: #333;
}
.btn-secondary:focus {
  background-color: #54494b;
  color: #333;
}

.custom-btn-link {
  display: flex;
  justify-content: center;
  background-color: #54494b;
  color: white;
  border-radius: 0.5rem;
}

.btn-icons {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
  background-color: #f1f7ed;
}
.btn-icons .icon-label {
  flex: 1;
  text-align: left;
}
.btn-icons .ping-count {
  top: -0.5rem;
  right: -0.5rem;
}

.btn-main {
  display: flex;
  gap: 0.5rem;
  color: #eee;
  background-color: #b33951;
}

.btn-cancel {
  position: absolute;
  background-color: #f93131;
  color: #eee;
  width: 1rem;
  top: -0.5rem;
  right: -0.5rem;
  z-index: 99;
  border-radius: 100%;
}

.btn-search {
  margin: auto;
  color: #333;
}
.btn-search:hover {
  background-color: #e3d081;
  color: #333;
}
.btn-search:disabled {
  background-color: #91c7b1;
  color: #333;
}

.btn-back {
  background-color: #54494b;
}

.btn-danger {
  background-color: #f93131;
  color: #eee;
}

.btn {
  display: flex;
  border-radius: 0.5rem;
  gap: 1rem;
}

.btn-link {
  background-color: #f1f7ed;
  color: #333;
  text-decoration: underline;
  text-decoration: none;
}

.btn-next {
  margin: 1rem;
}

.btn-back {
  display: flex;
  color: white;
  gap: 1rem;
}
