/* readmore lines */
/*  media queries */
.calendar {
  display: flex;
  background-color: #f1f7ed;
}

.react-calendar {
  background-color: #54494b;
  color: #333;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  max-width: 700px;
  gap: 1rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 500px) {
  .react-calendar {
    width: 100%;
    flex: auto;
  }
}

#calendar-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #f1f7ed;
  border-radius: 0.5rem;
  gap: 1rem;
}

.react-calendar__navigation {
  display: flex;
  border-top: 1px solid #54494b;
}
.react-calendar__navigation button {
  background-color: #f1f7ed;
  color: #333;
  border-radius: 0;
}
.react-calendar__navigation button:disabled {
  background-color: #f1f7ed;
}
.react-calendar__navigation button:focus {
  background-color: #f1f7ed;
}

.react-calendar__navigation__arrow {
  border-right: 1px solid #54494b;
  border-left: 1px solid #54494b;
}

.react-calendar__viewContainer {
  color: #b33951;
}

.react-calendar__tile {
  position: relative;
  cursor: pointer;
  max-width: 100px;
  min-height: 45px;
  min-width: 40px;
  color: #eee;
}
.react-calendar__tile .match {
  position: absolute;
  background-color: #f93131;
  color: #eee;
  width: 1rem;
  height: 1rem;
  top: 1px;
  right: 0;
  border-radius: 100%;
  padding: 0.25rem;
}
.react-calendar__tile:hover {
  color: #333;
}
.react-calendar__tile:disabled {
  color: #333;
  cursor: not-allowed;
}
.react-calendar__month-view__weekdays {
  color: #eee;
  text-align: center;
}

.react-calendar__navigation__arrow {
  cursor: pointer;
}
.react-calendar__navigation__arrow:disabled {
  color: #eee;
  cursor: not-allowed;
}

.react-calendar__navigation__label {
  color: #b33951;
}
.react-calendar__navigation__label:hover {
  background-color: #f1f7ed;
}
.react-calendar__navigation__label:disabled {
  cursor: default;
}
