/* readmore lines */
/*  media queries */
.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.container-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 500px) {
  .primary-container {
    flex: 0 0 100%;
    width: auto;
  }
}

.secondary-container {
  display: flex;
  flex-direction: column;
  background-color: #54494b;
  min-height: 60vh;
  width: 100%;
  gap: 1rem;
}
@media only screen and (max-width: 500px) {
  .secondary-container {
    width: auto;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 1rem;
  justify-content: center;
}

.container-empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f1f7ed;
  color: #333;
  flex: 1;
  min-width: 200px;
  gap: 1rem;
  border-radius: 0.5rem;
}
.container-empty .btn-link {
  background-color: #b33951;
  color: #eee;
}
@media only screen and (max-width: 500px) {
  .container-empty .fa-left-long {
    transform: rotate(90deg);
  }
}

.section-container {
  flex-direction: column;
  display: flex;
  background-color: #54494b;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.secondary-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.bag-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.bag-btns .btn-link {
  border: 1px solid #54494b;
}

.alt-container {
  background-color: #f1f7ed;
  border-radius: 0.5rem;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
