/* readmore lines */
/*  media queries */
.children {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.p-sm {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.bg-light {
  background-color: #f1f7ed;
  border-radius: 0.5rem;
}

.bg-dark {
  background-color: #54494b;
  border-radius: 0.5rem;
  color: #eee;
}

.t-center {
  justify-content: center;
  text-align: center;
}
