/* readmore lines */
/*  media queries */
header {
  display: flex;
  align-items: center;
  background-color: #54494b;
  border-bottom: 1px solid #f1f7ed;
  max-height: 15vh;
  justify-content: space-between;
}

.card-secondary {
  width: 100%;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #eee;
  background-color: #54494b;
  gap: 1rem;
}

.link {
  color: #333;
}
