/* readmore lines */
/*  media queries */
.icon {
  min-width: 1rem;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #eee;
}
.social .title {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.instagram {
  color: #ea4c52;
}

.twitter {
  color: #1da1f2;
}

.loading {
  color: #f1f7ed;
}
