/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
@media only screen and (max-width: 768px) {
  .primary-navigation {
    display: none;
  }
}

.secondary-navigation {
  display: flex;
  align-items: flex-start;
  background-color: #54494b;
  padding: 1rem 0.5rem;
}

.mobile-navigation {
  display: none;
}
.mobile-navigation .navigation {
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  list-style: none;
  background-color: #e3d081;
  border-radius: 0.5rem;
  gap: 1rem;
  top: 15%;
  right: 0;
  z-index: 999;
  min-width: 250px;
  min-height: 70vh;
  padding: 1rem 0.5rem;
  transition: clip-path ease-in-out 700ms;
}
.mobile-navigation .navigation[data-state=open] {
  animation: circleOpen 750ms ease-in-out forwards;
  display: block;
}
.mobile-navigation .navigation[data-state=closing] {
  display: block;
  animation: circleClose ease-in-out forwards;
}
.mobile-navigation .navigation[data-state=close] {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile-navigation {
    display: flex;
  }
}

.navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  list-style-type: none;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
  color: #333;
}

.nav-link {
  display: flex;
  text-decoration: none;
  position: relative;
  flex: 1;
  color: #333;
}

.nav-link[data-state=active] {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 100%;
  background-color: #b33951;
}

.ping-count {
  position: absolute;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f93131;
  color: #eee;
  border-radius: 100%;
  padding: 0.35rem;
}

.checkout-navigation {
  display: flex;
  flex-direction: column;
}
