/* readmore lines */
/*  media queries */
.read-more-wrapper {
  position: relative;
}

.read-more {
  --max-lines: 3;
  --line-height: 1.4;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  position: relative;
  overflow: hidden;
}
.read-more:has(+ .read-more-toggle:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, #f1f7ed);
}
.read-more:has(+ .read-more-toggle:checked) {
  max-height: none;
}

.read-more-toggle {
  appearance: none;
  cursor: pointer;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-radius: 0.25rem;
}
.read-more-toggle::before {
  content: "...Read More";
}
.read-more-toggle:checked::before {
  content: "Collapse";
}

.message-success {
  border-radius: 0.5rem;
  color: #333;
  background-color: #e3d081;
}
