.grid {
  display: grid;
  gap: #{$rem};
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  @include devices(mobile) {
    grid-template-columns: 1fr;
  }
}

.grid-row {
  display: grid;
  gap: #{$rem};
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-start {
  display: grid;
  gap: #{$rem};
  align-items: flex-start;
  // grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}
