.grid {
  display: grid;
  gap: #{$rem};
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  // width: 100%;
}
.preview-container {
  display: grid;
  gap: #{$rem};
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  @include devices(laptop) {
    grid-template-columns: 1fr;
  }
}
.grid-row {
  display: grid;
  gap: #{$rem};
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-start {
  display: grid;
  gap: #{$rem};
  align-items: flex-start;
  // grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}
