.card-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: #{$rem};
}

.card-section-title {
  display: flex;
  letter-spacing: 4px;
}
.card-section-subtitle {
  display: flex;
  letter-spacing: 4px;
}
.card-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.card-section-row {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
  .card-section-cost {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  .cost {
    display: flex;
    justify-content: flex-end;
    min-width: 6rem;
    @include devices(mobile) {
      align-items: flex-end;
    }
  }
  .row {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    flex-grow: 1;
  }
}
.empty {
  text-align: center;
}
.details-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
  .in-stock {
    display: flex;
    justify-content: flex-end;
  }
}
.details {
  display: flex;
  gap: #{$rem};

  .read-more-wrapper {
    max-width: 350px;
  }
  .row {
    flex-direction: column;
    align-items: center;
    gap: #{$rem};
    width: 100%;
    div {
      display: flex;
      gap: #{$rem};
      flex-wrap: wrap;
    }
  }
}
.sections-grid {
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  @include devices(tablet) {
    margin-top: 1rem;
    grid-template-columns: 1fr;
  }
}

.section-header {
  display: flex;
  width: 100%;
}
