@use "../../vars/mixin/_index.scss" as mixin;

.cart {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}
.cart-row {
  display: grid;
  gap: var(--space-medium);
  grid-template-columns: 1fr;
  @include mixin.respond-from(mobile) {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
.cart-column {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  position: relative;
}
