@import "../../vars/mixins.scss", "../../vars/variables.scss";

.row-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: #{$gap};
  padding-bottom: 0.5rem;
  // border-bottom: 1px dashed #{$primary-text};
  &:has(> .active) {
    .active {
      // background-color: #{$secondary-color};
      // color: #{$secondary-text};
      border-radius: #{$radii-round};
      // .read-more {
      //   &:has(+ .read-more-toggle:not(:checked))::before {
      //     background: linear-gradient(
      //       to bottom,
      //       transparent,
      //       #{$secondary-color}
      //     );
      //   }
      // }
    }
  }
}
.card-row-wrapper {
  position: relative;
  display: flex;
}

.card-row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: #{$gap};
  border-radius: #{$radii-round};
  @include devices(mobile) {
    .card-header {
      flex-direction: row;
      gap: #{$gap};
    }
  }
}
.card-row-footer {
  margin: auto;
}
