.cart-row {
  display: grid;
  gap: #{$rem};
  grid-template-columns: 1fr 2fr;
  @include devices(mobile) {
    grid-template-columns: 1fr;
  }
}
.cart-column {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
  padding-top: #{$rem};
}
