@import "../../vars/mixins.scss", "../../vars/variables.scss";

.card-row-wrapper {
  position: relative;
  display: flex;
}

.card-row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: #{$rem05};
  width: 100%;
  max-width: none;
  border-radius: #{$rem05};
  @include devices(mobile) {
    padding: #{$rem025};
    .card-header {
      text-align: left;
      flex-direction: column;
      gap: #{$rem05};
    }
  }
}
.card-row--active {
  background-color: #{$dark};
  color: #{$light};
  .read-more-toggle {
    color: #{$light};
  }
}
.card-row-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .cost {
    margin-top: auto;
    text-align: right;
  }
}
.card-row-footer {
  margin: auto;
}
.user-card-row {
  display: flex;
  flex-direction: row;
  gap: #{$rem};
  max-width: 100%;
  width: 100%;
}
