@import "../../vars/_mixins.scss", "../../vars/_variables.scss";

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: #{$rem};
  min-width: 200px;
  max-width: 400px;
  &:has(> div > .ribbon) {
    position: relative;
    max-width: 275px;
  }
  @include devices(mobile) {
    min-width: auto;
    max-width: auto;
  }
}
.card-header {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.card-body {
  display: flex;
  flex-direction: column;
  &:has(> .btn-primary) {
    justify-content: space-between;
    .btn-primary {
      flex: none;
    }
  }
}

.secondary-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 200px;
  gap: #{$rem};
}
.secondary-card-body {
  display: flex;
  flex-wrap: wrap;
  gap: #{$rem};
}
.ribbon {
  position: absolute;
  top: 0.3rem;
  right: -2.5rem;
  rotate: 35deg;
  border: 1px solid white;
  padding: 0.25rem 4rem;
}
.cancel-row {
  min-width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cancel-row-footer {
  display: flex;
  gap: #{$rem};
  padding-bottom: 2rem;
}
.card-item {
  display: flex;
  flex-direction: column;
}
.card-hero-header {
  display: flex;
  gap: #{$rem};
}
.feature-card {
  max-width: 300px;
}
.user-card {
  max-width: 150px;
  min-width: 100px;
}
.card-section {
  max-width: 250px;
  min-width: 100px;
  .card-header {
    align-items: center;
  }
}
