@import "../../vars/mixins.scss", "../../vars/variables.scss";

.card-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  gap: #{$gap};
  .read-more {
    text-align: left;
  }
}
// .card-section-header {
//   display: flex;
//   gap: #{$gap};
//   // .icons {
//   //   // background-color: #{$primary-text};
//   //   // color: #{$secondary-color};
//   // }
// }
.card-section-title {
  display: flex;
  // text-transform: uppercase;
  letter-spacing: 4px;
}
.card-section-subtitle {
  display: flex;
  letter-spacing: 4px;
}
.card-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: #{$gap};
}
.card-section-row {
  display: flex;
  flex-direction: column;
  gap: #{$gap};
  .form {
    .field {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    input {
      padding: 0 0.5rem 1rem;
    }
  }
  .card-section-cost {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 0.5rem;
  }
  .cost {
    display: flex;
    justify-content: flex-end;
    min-width: 6rem;
    @include devices(mobile) {
      align-items: flex-end;
    }
  }
  .row {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    flex-grow: 1;
  }
  // &:hover {
  //   // background-color: #{$primary-color2};
  //   .read-more {
  //     &:has(+ .read-more-toggle:not(:checked))::before {
  //       // background: linear-gradient(to bottom, transparent, #{$primary-color2});
  //     }
  //   }
  // }
}
.empty {
  text-align: center;
}
.details-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
  .in-stock {
    display: flex;
    justify-content: flex-end;
  }
}
.details {
  display: flex;
  // align-items: flex-start;
  // justify-content: flex-start;
  gap: #{$gap};
  .card-header {
    min-width: 150px;
    @include devices(mobile) {
      min-width: auto;
    }
  }
  .read-more-wrapper {
    max-width: 350px;
  }
  .row {
    flex-direction: column;
    align-items: center;
    gap: #{$gap};
    width: 100%;
    div {
      display: flex;
      gap: #{$gap};
      flex-wrap: wrap;
    }
  }
  // @include devices(mobile) {
  //   flex-wrap: wrap;
  // }
}
.section-card {
  display: flex;
  flex-wrap: wrap;
  * {
    flex: 1;
    min-width: 250px;
    border-bottom: 1px solid #eee;
  }
}
.section-header {
  display: flex;
  width: 100%;
  // color: #{$secondary-text};
}
.section-body {
  text-align: center;
  // letter-spacing: 1px;
  // color: #{$secondary-text};
}
