@import "../../vars/mixins.scss", "../../vars/variables.scss";

.card-row-wrapper {
  display: flex;
  flex-direction: column;
}
.card-row-container {
  padding-bottom: #{$rem};
  border-bottom: 1px solid #{$dark};
}
.card-row {
  border: none;
  display: flex;
  align-items: stretch;
  gap: #{$rem05};
  width: 100%;
  max-width: none;
  border-radius: #{$rem05};
  padding: #{$rem05};
  text-align: left;
  .card-header {
    flex: 1;
  }
  @include devices(mobile) {
    padding: #{$rem025};
    .card-header {
      text-align: left;
      flex-direction: column;
      gap: #{$rem05};
    }
  }
}
.card-row--active {
  padding: 1rem 0;
  background-color: #{$action-color};
  border-radius: #{$border-radius};
}
.card-row-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: #{$rem};
  flex: 3;
  .read-more-wrapper {
    width: 100%;
    text-align: left;
  }
  .cost {
    min-width: 100%;
    margin-top: auto;
    text-align: right;
  }
}
.card-row-footer {
  display: flex;
  gap: #{$rem};
  margin: auto;
}
.user-card-row {
  display: flex;
  flex-direction: row;
  gap: #{$rem};
  max-width: 100%;
  width: 100%;
}
