.card-row-wrapper {
  display: flex;
  flex-direction: column;
}
.card-row-container {
  padding-bottom: #{$rem};
  border-bottom: 1px solid #{$dark};
}
.card-row {
  display: flex;
  gap: #{$rem};
  width: 100%;
  max-width: none;
  border-radius: #{$border-radius};
  text-align: left;
  @include devices(mobile) {
    flex-direction: column;
    align-items: center;
  }
}
.card-row--active {
  padding: 1rem 0;
  background-color: #{$action-color};
  border-radius: #{$border-radius};
}
.card-row-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: #{$rem};
  flex: 3;
  .read-more-wrapper {
    width: 100%;
    text-align: left;
  }
  .cost {
    min-width: 100%;
    margin-top: auto;
    text-align: right;
  }
}
.card-row-footer {
  display: flex;
  gap: #{$rem};
  margin: auto;
}
.user-card-row {
  display: flex;
  flex-direction: row;
  gap: #{$rem};
  max-width: 100%;
  width: 100%;
}
