@import "../../vars/mixins.scss", "../../vars/variables.scss";

.card-row-wrapper {
  position: relative;
  display: flex;
}

.card-row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: #{$rem05};
  min-width: 450px;
  border-radius: #{$rem05};
  @include devices(mobile) {
    min-width: 100%;
    padding: #{$rem025};
    .card-header {
      text-align: left;
      flex-direction: column;
      gap: #{$rem05};
    }
  }
}
.card-row--active {
  background-color: #{$dark};
  color: #{$light};
  .read-more-toggle {
    color: #{$light};
  }
}
.card-row-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &:has(+ .cost) {
    .cost {
      margin-top: auto;
      text-align: right;
    }
  }
}
.card-row-footer {
  margin: auto;
}
