.cart {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.cart-row {
  display: grid;
  gap: #{$rem};
  // grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  // align-items: flex-start;
  // justify-items: flex-start;
  // @include devices(mobile) {
  //   grid-template-columns: 1fr;
  // }
  @include devices(mobile) {
    grid-template-columns: 1fr;
  }
}
.cart-column {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
  // padding-top: #{$rem};
  position: relative;
}
