.card {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: #{$rem};
  padding: #{$rem};
  min-width: #{$min-card-width};
  max-width: #{$max-card-width};
  &:has(> div > .ribbon) {
    position: relative;
    max-width: 275px;
  }
  @include devices(mobile) {
    min-width: auto;
    max-width: auto;
  }
}
.card-header {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  &:has(> .btn-primary) {
    justify-content: space-between;
    .btn-primary {
      flex: none;
    }
  }
}
.card-shadow {
  box-shadow: -6px 6px 10px rgba(209, 209, 209, 0.411);
}

.secondary-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  gap: #{$rem};
}
.secondary-card-body {
  display: flex;
  flex-wrap: wrap;
  gap: #{$rem};
}
.ribbon {
  position: absolute;
  top: 0.3rem;
  right: -2.5rem;
  rotate: 35deg;
  border: 1px solid white;
  padding: 0.25rem 4rem;
}
.cancel-row {
  min-width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cancel-row-footer {
  display: flex;
  gap: #{$rem};
  padding-bottom: 2rem;
}
.card-item {
  display: flex;
  flex-direction: column;
}

.card-text-bubble {
  background-color: #{$light-secondary};
  border-radius: #{$border-radius};
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 5fr;
  gap: #{$rem};
}
.app-card {
  display: grid;
  justify-items: center;
  aspect-ratio: 2/3;
  gap: #{$rem};
  border-radius: #{$border-radius};
  grid-template-rows: auto 3fr;
  padding: #{$rem};
  box-shadow: 1px 1px 4px 1px #{$light-primary};
  max-width: #{$max-app-card-width};
  min-width: #{$min-app-card-width};
  .card-row-body {
    display: grid;
    height: 100%;
    .navigation-container {
      display: grid;
      grid-template-columns: auto;
      align-items: end;
      // flex-direction: column;
    }
  }
}
.preview-card {
  max-height: #{$max-card-height};
  overflow: hidden;
  padding: #{$rem};
  border-radius: #{$border-radius};
  position: relative;
}
