@use "../../vars/variables/_index.scss" as variables;

.merch-card {
  min-height: 220px;
  max-width: variables.$max-card-width;
  min-width: 0;
  display: flex;
  gap: variables.$rem;
  flex-direction: column;
  flex: 1;

  position: relative;
  justify-content: space-between;

  .btn-card,
  .merch-card-header {
    height: 100%;
  }
}
.merch-card-cost {
  top: 0;
  right: -3%;
  z-index: 1;
  position: absolute;
  font-size: xx-large;
  text-align: center;
  padding: variables.$rem025 variables.$rem;
  border-radius: 10px;
  background-color: variables.$cta-color;
  min-width: 0;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.merch-card-body {
  text-align: left;
  width: 100%;
}
.merch-card-hero {
  width: 100%;
}
