/* readmore lines */
/*  media queries */
.row-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #333;
}
.row-wrapper:has(> .active) .active {
  background-color: #54494b;
  color: #eee;
  border-radius: 0.5rem;
}
.row-wrapper:has(> .active) .active .read-more:has(+ .read-more-toggle:not(:checked))::before {
  background: linear-gradient(to bottom, transparent, #54494b);
}

.card-row-wrapper {
  position: relative;
  display: flex;
}

.card-row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 500px) {
  .card-row .card-header {
    flex-direction: row;
    gap: 1rem;
  }
}

.card-row-footer {
  margin: auto;
}
