/* readmore lines */
/*  media queries */
.card-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  gap: 1rem;
}
.card-section .read-more {
  text-align: left;
}

.card-section-header {
  display: flex;
  gap: 1rem;
}
.card-section-header .icons {
  background-color: #333;
  color: #54494b;
}

.card-section-title {
  display: flex;
  letter-spacing: 4px;
}

.card-section-subtitle {
  display: flex;
  letter-spacing: 4px;
}

.card-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-section-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-section-row .form .field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-section-row .form input {
  padding: 0 0.5rem 1rem;
}
.card-section-row .card-section-cost {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 0.5rem;
}
.card-section-row .cost {
  display: flex;
  justify-content: flex-end;
  min-width: 6rem;
}
@media only screen and (max-width: 500px) {
  .card-section-row .cost {
    align-items: flex-end;
  }
}
.card-section-row .row {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  flex-grow: 1;
}
.card-section-row:hover {
  background-color: #e3d081;
}
.card-section-row:hover .read-more:has(+ .read-more-toggle:not(:checked))::before {
  background: linear-gradient(to bottom, transparent, #e3d081);
}

.empty {
  text-align: center;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.details-wrapper .in-stock {
  display: flex;
  justify-content: flex-end;
}

.details {
  display: flex;
  gap: 1rem;
}
.details .card-header {
  min-width: 150px;
}
@media only screen and (max-width: 500px) {
  .details .card-header {
    min-width: auto;
  }
}
.details .read-more-wrapper {
  max-width: 350px;
}
.details .row {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.details .row div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.section-card {
  display: flex;
  flex-wrap: wrap;
}
.section-card * {
  flex: 1;
  min-width: 250px;
  border-bottom: 1px solid #eee;
}

.section-header {
  display: flex;
  width: 100%;
  color: #eee;
}

.section-body {
  text-align: center;
  color: #eee;
}
