.p-sm {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-verticle {
  padding: 1rem 0;
}
.elbow-room,
.elbow-space {
  padding: 0 1rem;
}
.text-center {
  text-align: center;
}
.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}
.ping {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: #{$border-radius};
  width: 25px;
  height: 25px;
  right: -0.5rem;
  top: -0.5rem;
}
.navlink {
  text-decoration: none;
}
.w-100 {
  width: 100%;
}
// add whitespace
.m-tb,
.white-space {
  margin: 1rem 0;
}

.mt-1 {
  margin-top: 1rem;
}
.m-sides,
.m-horizontal {
  margin: 0 1rem;
}
.highlight {
  border: 1px solid #{$faded};
  &:focus {
    border: 1px solid #{$dark-mode};
  }
  &:hover {
    border: 1px solid #{$dark-mode};
  }
}
.required {
  color: #{$danger};
}
.active {
  background-color: #{$dark};
  color: #{$light};
}
.danger-zone {
  display: flex;
  justify-content: flex-end;
  @include devices(mobile) {
    display: none;
  }
}
.banner {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  @include devices(mobile) {
    grid-template-columns: 1fr;
  }
}
.hide-on-tablet,
.hide-on-mobile {
  @include devices(mobile) {
    display: none;
  }
  @include devices(tablet) {
    display: none;
  }
}
.pos-rel {
  position: relative;
}
.no-scroll {
  overflow-y: visible;
  max-height: 100%;
}
.item-detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}
.hide-overflow {
  overflow: hidden;
}
.hide-x-overflow {
  overflow-x: hidden;
}
.zero-deg {
  transform: rotate(0deg);
}
.ninety-deg {
  transform: rotate(90deg);
}
.one-hundred-eighty-deg {
  transform: rotate(180deg);
}
.two-hundred-seventy-deg {
  transform: rotate(270deg);
}
.footer-content-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.socials {
  width: 100%;
}
