@use "../../vars/variables/_index.scss" as variables;

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-g,
.flex-gap {
  display: flex;
  gap: variables.$rem;
}
.flex-end {
  display: flex;
  gap: variables.$rem;
  justify-content: flex-end;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: variables.$rem;
}
.flex-d-row {
  display: flex;
  flex-direction: row;
  gap: variables.$rem;
}
.flex-column,
.flex-d-column {
  display: flex;
  flex-direction: column;
  gap: variables.$rem;
}
.flex-j-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: variables.$rem;
}
.flex-j-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-j-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
  gap: variables.$rem;
}
.flex-wrap,
.flex-w {
  display: flex;
  flex-wrap: wrap;
  gap: variables.$rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: variables.$rem;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: variables.$rem;
}
.align-center {
  align-items: center;
}
