.error-message-container {
  border: 1px dotted #{$danger};
  // max-height: 200px;
  width: 100%;
  padding: #{$rem};
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.call-to-action {
  // display: flex;
  display: grid;
  justify-items: center;
  gap: #{$rem};
  grid-template-columns: repeat(auto-fit, minmax(#{$min-cell-width}, 1fr));
}
