@use "../../vars/variables/_index.scss" as variables;

.error-message-container {
  border: 1px dotted variables.$danger;
  // max-height: 200px;
  width: 100%;
  padding: variables.$rem;
  display: flex;
  flex-direction: column;
  gap: variables.$rem;
}
.call-to-action {
  display: flex;
  align-items: center;
  gap: variables.$rem;
  .btn {
    flex: 1;
  }
}
