.container {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3fr auto;
  min-height: 100vh;
  gap: #{$rem};
  @include devices(mobile) {
    grid-template-rows: 1fr;
  }
}
// // theme dark mode
// .dark-mode > .container {
//   // -webkit-filter: blur(8px);
//   // backdrop-filter: blur(5px);
//   background-color: #{$dark-mode};
//   color: #{$light-mode};
// }
// // theme light mode
// .light-mode > .container {
//   // -webkit-filter: blur(8px);
//   // backdrop-filter: blur(5px);
//   background-color: #{$light-mode};
//   color: #{$dark-mode};
//   // background: inherit;
// }
