@use "../../vars/mixin/_index.scss" as mixin;

@use "../../vars/variables/_index.scss" as variables;

.primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variables.$rem;
  @include mixin.devices(mobile) {
    // flex: 0 0 100%;
    width: auto;
  }
}
.container-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 80vh;
  gap: variables.$rem;
  border-radius: variables.$border-radius;
  .btn-cta {
    max-width: 500px;
    min-width: auto;
  }
}
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  position: relative;
  gap: variables.$rem;
  justify-content: space-around;
  @include mixin.devices(tablet) {
    justify-content: center;
  }
}
.page-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: variables.$rem;
}
.container-split,
.split-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: variables.$rem;
  @include mixin.devices(mobile) {
    grid-template-columns: 1fr;
  }
}
.container-row {
  display: flex;
  gap: variables.$rem;
  > * {
    flex: 1;
  }
}
.navigation-container {
  width: 100%;
  display: grid;
  gap: variables.$rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(variables.$min-cell-width-sm, 1fr));
  .navigation {
    justify-content: center;
  }
  @include mixin.devices(mobile) {
    grid-template-columns: 1fr;
  }
}
.mini-navigation-container {
  width: 100%;
  display: flex;
  gap: variables.$rem;
  align-items: center;
  justify-content: center;
}
