.primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: #{$rem};
  @include devices(mobile) {
    flex: 0 0 100%;
    width: auto;
  }
}
.container-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 80vh;
  gap: #{$rem};
  border-radius: #{$border-radius};
  .btn-cta {
    max-height: 50px;
    max-width: 500px;
    min-width: auto;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: #{$rem};
  justify-content: center;
}
.page-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: #{$rem};
}
.container-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: #{$rem};
}
