.primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: #{$rem};
  @include devices(mobile) {
    flex: 0 0 100%;
    width: auto;
  }
}
.container-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 80vh;
  gap: #{$rem};
  border-radius: #{$border-radius};
  .btn-cta {
    max-width: 500px;
    min-width: auto;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  // position: relative;
  gap: #{$rem};
  justify-content: space-around;
}
.page-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: #{$rem};
}
.container-split,
.split-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: #{$rem};
  @include devices(mobile) {
    grid-template-columns: 1fr;
  }
}
.buttons-container {
  display: grid;
  gap: #{$rem};
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(#{$min-cell-width}, 1fr));
  grid-template-rows: auto auto;
}
.navigation-container {
  width: 100%;
  display: grid;
  gap: #{$rem};
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(#{$min-cell-width-sm}, 1fr));
}
.mini-navigation-container {
  width: 100%;
  display: flex;
  gap: #{$rem};
  align-items: center;
  justify-content: center;
}
