@use "../../vars/mixin/_index.scss" as mixin;

@use "../../vars/variables/_index.scss" as variables;

.secondary-container {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  width: 100%;
  gap: variables.$rem;
  @include mixin.devices(mobile) {
    width: auto;
  }
}
.alt-container {
  border-radius: variables.$border-radius;
  overflow-y: auto;
  overflow-x: hidden;
}
.feature-card-container {
  display: flex;
  gap: variables.$rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list-container {
  display: flex;
  gap: variables.$rem;
  @include mixin.devices(tablet) {
    flex-wrap: wrap;
    justify-content: space-around;
    .btn-main {
      max-width: 100px;
    }
  }
}
.list-selection-value {
  display: flex;
  gap: variables.$rem;
  border-radius: variables.$rem025;
  min-width: 100%;
  width: 100%;
  color: inherit;
  @include mixin.devices(tablet) {
    flex-wrap: wrap;
    justify-content: space-around;
    .btn-main {
      max-width: 100px;
    }
  }
}
