// common color
$danger: crimson;
$error: rgb(241, 29, 26);
$success: #4bb161;
$ping-color: #eaab4c;

// todo update action color
$action-color: #ffee99;
$action-color-accent: #ffd87d;
$action-color-alt: #f5b200;

$faded: rgb(184, 184, 184);
$dimmer: rgba(230, 230, 230, 0.7);
$dim: rgba(196, 196, 196, 0.7);
$dim-color: rgba(196, 196, 196, 0.7);
$dark-primary: #484b6a;
$cta-color: #ffa500;
$icon-color: #333;

// ICONS
$instagram: #ea4c52;
$twitter: #1da1f2;

$muted: #b3b4b4;
$star: #ffee99;
$star-filled: #ffd700;
$text-bubble: #aedfff;
$visa: #15195a;
$mastercard-red: #eb001b;
$mastercard-orange: #ff5f00;
$mastercard-yellow: #f79e1b;
$facebook: #4267b2;
$linkedin: #2867b2;
$github: #333;
$xTwitter: #14171a;

// // theme colors
// light mode
$light: #f2f2f2;
$light-mode: white;
$light-mode-alt: #ddddddfe;
$light-primary: #e4e5f1;
$light-secondary: #fafafa;

// dark mode
$dark: #9394a5;
$dark-mode: #2c3e50;
$dark-mode-alt: rgb(94, 94, 94);

$dim-color: #fafafa;
