$instagram: #ea4c52;
$twitter: #1da1f2;

$muted: #b3b4b4;
$star: #ffee99;
$star-filled: #ffd700;
$text-bubble: #aedfff;
$visa: #15195a;
$mastercard-red: #eb001b;
$mastercard-orange: #ff5f00;
$mastercard-yellow: #f79e1b;
$facebook: #4267b2;
$linkedin: #2867b2;
