// app/component sizes
$min-height: 120px;
$min-width: 100px;
$min-cell-width: 120px;
$min-cell-width-sm: 90px;
$min-width-sm: 50px;
// max widths
$max-width-sm: 250px;
$max-width: 400px;
$max-width-lg: 600px;
// button sizes
$max-width-button: 250px;
$max-width-button-lg: 450px;

// icon sizes
$icon-width: 120px;
$icon-width-sm: 50px;
$max-icon-width: 150px;
$min-icon-width: 25px;

// logo sizes
$max-logo-width: 120px;
$min-logo-width: 70px;

// form sizes
$max-form-width: 950px;
$max-form-height: 750px;
$max-height: 300px;

// limit image lengths
$max-hero-width: 550px;
$max-hero-height: 500px;
$min-thumbnail-height: 120px;

$min-heading-width: 150px;
// set sizes for section containers
$min-width-section: 250px;
$min-height-section: 300px;

// cards
$max-card-width: 450px;
$min-card-width: 220px;
$max-app-card-width: 250px;
$min-app-card-width: 200px;
