// app/component sizes
// min widths
$min-width-icons: 50px;
$min-height: 120px;
$min-width: 100px;
$min-width-sm: 50px;
// max widths
$max-width-sm: 250px;
$max-width-button: 250px;
$max-width: 400px;
$max-width-lg: 600px;

$icon-width: 120px;
$icon-width-sm: 50px;

$max-height: 300px;

$max-hero-width: 550px;
