// theme colors
// light mode
$light: #f2f2f2;
$light-mode: white;
$light-mode-alt: #dad8d8fe;
$light-primary: #e4e5f1;
$light-secondary: #fafafa;

// dark mode
$dark: #9394a5;
$dark-mode: #2c3e50;
$dark-mode-alt: rgb(94, 94, 94);

$dim-color: #fafafa;
