/* readmore lines */
$max-lines: 2;
$line-height: 1.4;

// rems
$rem: 1rem;
$rem05: 0.5rem;
$rem025: 0.25rem;
// border-radius :circle
$rounded-full: 100%;
$border-radius: 7px;
$border-radius-sm: 5px;
$border-radius-lg: 15px;
