.dialog {
  position: fixed;
  border-radius: #{$border-radius};
  display: flex;
  flex-direction: column;
  padding: #{$rem};
  overflow-y: auto;
  top: 15%;
  aspect-ratio: 16/9;
  width: 95%;
  z-index: 99;
}
.dialog-header {
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
.dialog-navigation {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 3%;
}
.btn-dialog {
  max-width: #{$min-width-sm};
}
.dialog-body {
  padding: #{$rem};
}
