button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

/* @docs label: Core Remedies
version: 0.1.0-beta.2

note: |
  These remedies are recommended
  as a starter for any project.

category: file
*/
/* @docs
label: Box Sizing

note: |
  Use border-box by default, globally.

category: global
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/* @docs
label: Line Sizing

note: |
  Consistent line-spacing,
  even when inline elements have different line-heights.

links:
  - https://drafts.csswg.org/css-inline-3/#line-sizing-property

category: global
*/
html {
  height: 100%;
  line-sizing: normal;
}

/* @docs
label: Body Margins

note: |
  Remove the tiny space around the edge of the page.

category: global
*/
body {
  margin: 0;
}

/* @docs
label: Hidden Attribute

note: |
  Maintain `hidden` behaviour when overriding `display` values.

  category: global
*/
[hidden] {
  display: none;
}

/* @docs
label: Heading Sizes

note: |
  Switch to rem units for headings

category: typography
*/
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

/* @docs
label: H1 Margins

note: |
  Keep h1 margins consistent, even when nested.

category: typography
*/
h1 {
  margin: 0.67em 0;
}

/* @docs
label: Pre Wrapping

note: |
  Overflow by default is bad...

category: typography
*/
pre {
  white-space: pre-wrap;
}

/* @docs
label: Horizontal Rule

note: |
  1. Solid, thin horizontal rules
  2. Remove Firefox `color: gray`
  3. Remove default `1px` height, and common `overflow: hidden`

category: typography
*/
hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

/* @docs
label: Responsive Embeds

note: |
  1. Block display is usually what we want
  2. The `vertical-align` removes strange space-below in case authors overwrite the display value
  3. Responsive by default
  4. Audio without `[controls]` remains hidden by default

category: embedded elements
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
}

/* @docs
label: Responsive Images

note: |
  These new elements display inline by default,
  but that's not the expected behavior for either one.
  This can interfere with proper layout and aspect-ratio handling.

  1. Remove the unnecessary wrapping `picture`, while maintaining contents
  2. Source elements have nothing to display, so we hide them entirely

category: embedded elements
*/
picture {
  display: contents;
}

source {
  display: none;
}

/* @docs
label: Aspect Ratios

note: |
  Maintain intrinsic aspect ratios when `max-width` is applied.
  `iframe`, `embed`, and `object` are also embedded,
  but have no intrinsic ratio,
  so their `height` needs to be set explicitly.

category: embedded elements
*/
img,
svg,
video,
canvas {
  height: auto;
}

/* @docs
label: Audio Width

note: |
  There is no good reason elements default to 300px,
  and audio files are unlikely to come with a width attribute.

category: embedded elements
*/
audio {
  width: 100%;
}

/* @docs
label: Image Borders

note: |
  Remove the border on images inside links in IE 10 and earlier.

category: legacy browsers
*/
img {
  border-style: none;
}

/* @docs
label: SVG Overflow

note: |
  Hide the overflow in IE 10 and earlier.

category: legacy browsers
*/
svg {
  overflow: hidden;
}

/* @docs
label: HTML5 Elements

note: |
  Default block display on HTML5 elements.
  For oldIE to apply this styling one needs to add some JS as well (i.e. `document.createElement("main")`)

links:
  - https://www.sitepoint.com/html5-older-browsers-and-the-shiv/

category: legacy browsers
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* @docs
label: Checkbox & Radio Inputs

note: |
  1. Add the correct box sizing in IE 10
  2. Remove the padding in IE 10

category: legacy browsers
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
@keyframes slide-left {
  0% {
    overflow: hidden;
    transform: translateX(200px);
  }
  100% {
    overflow: hidden;
    transform: translateX(0px);
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(400px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateY(10px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}
@keyframes circleOpen {
  0% {
    clip-path: circle(0% at top right);
  }
  100% {
    clip-path: circle(250% at top right);
  }
}
@keyframes circleClose {
  0% {
    clip-path: circle(250% at top right);
  }
  100% {
    clip-path: circle(0% at top right);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
table {
  margin: auto;
}

.table {
  padding: 1rem;
}

th,
td {
  text-align: left;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  font-family: "Cinzel", serif;
}

p,
span {
  font-family: "Roboto", sans-serif;
}

.btn {
  max-width: 220px;
  min-width: 80px;
  min-height: 40px;
  align-items: center;
}

.form-control {
  height: 3rem;
}

@media (prefers-reduced-inputdirection: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
.btn-primary {
  flex: 1;
}

.btn-secondary {
  position: absolute;
  right: 0;
  bottom: 3rem;
}

.custom-btn-link {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}

.btn-icons {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
}
.btn-icons .icon-label {
  flex: 1;
  text-align: left;
}
.btn-icons .ping-count {
  top: -0.5rem;
  right: -0.5rem;
}

.btn-cancel {
  border: none;
  position: absolute;
  width: 1rem;
  top: -0.5rem;
  right: -0.5rem;
  z-index: 99;
  border-radius: 100%;
}

.btn-search {
  margin: auto;
}

.btn-link {
  text-decoration: underline;
  text-decoration: none;
}

.btn-next {
  margin: 1rem;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
.calendar {
  display: flex;
}

.react-calendar {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  max-width: 700px;
  gap: 1rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 500px) {
  .react-calendar {
    width: 100%;
    flex: auto;
  }
}

#calendar-events {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 0.5rem;
  gap: 1rem;
}

.react-calendar__navigation {
  display: flex;
}
.react-calendar__navigation .react-calendar__navigation__prev-button {
  border-top-left-radius: 0.5rem;
  border-right: none;
  border-bottom-left-radius: 0.5rem;
}
.react-calendar__navigation .react-calendar__navigation__next-button {
  border-top-right-radius: 0.5rem;
  border-left: none;
  border-bottom-right-radius: 0.5rem;
}

.react-calendar__tile {
  border: none;
  position: relative;
  cursor: pointer;
  max-width: 100px;
  min-height: 45px;
  min-width: 40px;
}
.react-calendar__tile .match {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ping);
  color: var(--primary-light-color);
  position: absolute;
  aspect-ratio: 1/1;
  width: 1rem;
  height: 1rem;
  right: 5px;
  top: 1px;
  border-radius: 100%;
  padding: 0.25rem;
}

.react-calendar__month-view__weekdays {
  text-align: center;
}

.react-calendar__navigation__arrow {
  cursor: pointer;
}
.react-calendar__navigation__arrow:disabled {
  cursor: not-allowed;
}

.react-calendar__navigation__label {
  border-right: none;
  border-left: none;
}
.react-calendar__navigation__label:disabled {
  cursor: default;
}

.react-calendar__viewContainer {
  border-radius: 0.5rem;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.container-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 500px) {
  .primary-container {
    flex: 0 0 100%;
    width: auto;
  }
}

.secondary-container {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  width: 100%;
  gap: 1rem;
}
@media only screen and (max-width: 500px) {
  .secondary-container {
    width: auto;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 1rem;
  justify-content: center;
}

.container-empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  min-width: 200px;
  gap: 1rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 500px) {
  .container-empty .fa-left-long {
    transform: rotate(90deg);
  }
}

.section-container {
  flex-direction: column;
  display: flex;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.secondary-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.bag-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.alt-container {
  border-radius: 0.5rem;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
.children {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.p-sm {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-verticle {
  padding: 0 1rem;
}

.p-horizontal {
  padding: 1rem 0;
}

.bg-light {
  border-radius: 0.5rem;
}

.bg-dark {
  border-radius: 0.5rem;
}

.text-center {
  justify-content: center;
  text-align: center;
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.ping {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  right: -0.5rem;
  top: -0.5rem;
}

.link {
  text-decoration: none;
}

.flex-g {
  display: flex;
  gap: 0.5rem;
}

.flex-d-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.flex-d-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-j-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-j-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-1 {
  flex: 1;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}
.form input,
.form textarea {
  border-radius: 0.5rem;
}

.input {
  min-width: 250px;
  padding: 0.5rem 1rem;
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shipping-form label {
  text-decoration: underline;
}
.shipping-form .form-fields {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  padding: 0.5rem 1rem;
  min-width: 250px;
}
@media only screen and (max-width: 375px) {
  .input {
    max-width: 120px;
  }
}

.form-link-wrapper {
  text-align: center;
}
.form-link-wrapper .form-link {
  color: white;
  padding-bottom: 1rem;
}

.horizontal-fields {
  flex-direction: column;
}
.horizontal-fields .input {
  max-width: 500px;
}

.no-capcha-form {
  max-width: 768px;
  width: 100%;
}
.no-capcha-form .label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.no-capcha-form .label .required {
  flex-shrink: 1;
  margin-left: auto;
}

#contact-user-form {
  width: 100%;
}

.grid {
  display: grid;
  margin: auto;
  padding: 1rem 0;
  width: 100%;
  height: 60vh;
}

.x-1 {
  grid-column: 1;
}

.x-2 {
  grid-column: 2;
}

.x-3 {
  grid-column: 3;
}

.x-4 {
  grid-column: 4;
}

.x-5 {
  grid-column: 5;
}

.x-6 {
  grid-column: 6;
}

.x-7 {
  grid-column: 7;
}

.x-8 {
  grid-column: 8;
}

.x-9 {
  grid-column: 9;
}

.x-10 {
  grid-column: 10;
}

.x-11 {
  grid-column: 11;
}

.x-12 {
  grid-column: 12;
}

.x-13 {
  grid-column: 13;
}

.x-14 {
  grid-column: 14;
}

.x-15 {
  grid-column: 15;
}

.x-16 {
  grid-column: 16;
}

.x-17 {
  grid-column: 17;
}

.x-18 {
  grid-column: 18;
}

.x-19 {
  grid-column: 19;
}

.x-20 {
  grid-column: 20;
}

.x-21 {
  grid-column: 21;
}

.y-1 {
  grid-row: 1;
}

.y-2 {
  grid-row: 2;
}

.y-3 {
  grid-row: 3;
}

.y-4 {
  grid-row: 4;
}

.y-5 {
  grid-row: 5;
}

.y-6 {
  grid-row: 6;
}

.y-7 {
  grid-row: 7;
}

.y-8 {
  grid-row: 8;
}

.y-9 {
  grid-row: 9;
}

.y-10 {
  grid-row: 10;
}

.y-11 {
  grid-row: 11;
}

.y-12 {
  grid-row: 12;
}

.y-13 {
  grid-row: 13;
}

.y-14 {
  grid-row: 14;
}

.y-15 {
  grid-row: 15;
}

.y-16 {
  grid-row: 16;
}

.y-17 {
  grid-row: 17;
}

.y-18 {
  grid-row: 18;
}

.y-19 {
  grid-row: 19;
}

.y-20 {
  grid-row: 20;
}

.y-21 {
  grid-row: 21;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
header {
  display: flex;
  align-items: center;
  max-height: 15vh;
  justify-content: space-between;
}

.card-secondary {
  width: 100%;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.hero {
  border-radius: 0.5rem;
  width: 100%;
}

.hero-logo {
  max-width: 100px;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
.icon {
  min-width: 1rem;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.social .title {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.instagram {
  color: #ea4c52;
}

.twitter {
  color: #1da1f2;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
@media only screen and (max-width: 768px) {
  .primary-navigation {
    display: none;
  }
}

.secondary-navigation {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0.5rem;
}

.mobile-navigation {
  display: none;
}
.mobile-navigation .navigation {
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  list-style: none;
  border-radius: 0.5rem;
  gap: 1rem;
  top: 15%;
  right: 0;
  z-index: 999;
  min-width: 250px;
  min-height: 70vh;
  padding: 1rem 0.5rem;
  transition: clip-path ease-in-out 700ms;
}
.mobile-navigation .navigation[data-state="open"] {
  animation: circleOpen 750ms ease-in-out forwards;
  display: block;
}
.mobile-navigation .navigation[data-state="closing"] {
  display: block;
  animation: circleClose ease-in-out forwards;
}
.mobile-navigation .navigation[data-state="close"] {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile-navigation {
    display: flex;
  }
}

.navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  list-style-type: none;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
}

.nav-link {
  display: flex;
  text-decoration: none;
  position: relative;
  flex: 1;
}

.nav-link[data-state="active"] {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 100%;
}

.ping-count {
  position: absolute;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0.35rem;
}

.checkout-navigation {
  display: flex;
  flex-direction: column;
}

/* readmore lines */
/*  media queries */
.read-more-wrapper {
  position: relative;
}

.read-more {
  --max-lines: 3;
  --line-height: 1.4;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  position: relative;
  overflow: hidden;
}
.read-more:has(+ .read-more-toggle:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
}
.read-more:has(+ .read-more-toggle:checked) {
  max-height: none;
}

.read-more-toggle {
  appearance: none;
  cursor: pointer;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-radius: 0.25rem;
}
.read-more-toggle::before {
  content: "...Read More";
}
.read-more-toggle:checked::before {
  content: "Collapse";
}

.message-success {
  border-radius: 0.5rem;
}

.search-bar-wrapper {
  display: flex;
  justify-content: flex-end;
}

.filter-wrapper {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  text-align: left;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.filter-price {
  display: flex;
  gap: 0.5rem;
}

.dropdown-input {
  user-select: none;
  cursor: pointer;
  flex: 1;
  border-radius: 0.5rem;
}

.dropdown-item {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgba(159, 195, 248, 0.4392156863);
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.dropdown-tag-close {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 5px;
  background-color: #eee;
}

.search-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.applied-filter-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}

.applied-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.filter-list div {
  display: flex;
  gap: 0.5rem;
}

.search .filter-form {
  flex-wrap: wrap;
}

.heading-container {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5rem;
  width: 100%;
}
.heading-container .heading {
  letter-spacing: 2px;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
.card {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: 1rem;
  min-width: 200px;
  max-width: 280px;
  text-decoration: none;
}
.card .hero {
  border-radius: 1rem;
  max-width: 10rem;
  max-height: 10rem;
}
.card:has(> div > .ribbon) {
  position: relative;
  max-width: 275px;
}
.card:has(> div > .ribbon) .btn-primary {
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .card {
    min-width: auto;
    max-width: auto;
  }
}

.card-header-heading {
  text-align: left;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}
.card-body:has(> .btn-primary) {
  justify-content: space-between;
}
.card-body:has(> .btn-primary) .btn-primary {
  flex: none;
}

.card-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 0;
  gap: 1rem;
}

.secondary-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 200px;
  gap: 1rem;
}

.secondary-card-body {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.ribbon {
  position: absolute;
  top: 0.3rem;
  right: -2.5rem;
  rotate: 35deg;
  border: 1px solid white;
  padding: 0.25rem 4rem;
}

.cancel-row {
  min-width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cancel-row-footer {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.card-item {
  display: flex;
  flex-direction: column;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
.row-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
}
.row-wrapper:has(> .active) .active {
  border-radius: 0.5rem;
}

.card-row-wrapper {
  position: relative;
  display: flex;
}

.card-row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 500px) {
  .card-row .card-header {
    flex-direction: row;
    gap: 1rem;
  }
}

.card-row-footer {
  margin: auto;
}

/* readmore lines */
/*  media queries */
/* readmore lines */
/*  media queries */
.card-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  gap: 1rem;
}
.card-section .read-more {
  text-align: left;
}

.card-section-title {
  display: flex;
  letter-spacing: 4px;
}

.card-section-subtitle {
  display: flex;
  letter-spacing: 4px;
}

.card-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-section-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-section-row .form .field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-section-row .form input {
  padding: 0 0.5rem 1rem;
}
.card-section-row .card-section-cost {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 0.5rem;
}
.card-section-row .cost {
  display: flex;
  justify-content: flex-end;
  min-width: 6rem;
}
@media only screen and (max-width: 500px) {
  .card-section-row .cost {
    align-items: flex-end;
  }
}
.card-section-row .row {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  flex-grow: 1;
}

.empty {
  text-align: center;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.details-wrapper .in-stock {
  display: flex;
  justify-content: flex-end;
}

.details {
  display: flex;
  gap: 1rem;
}
.details .card-header {
  min-width: 150px;
}
@media only screen and (max-width: 500px) {
  .details .card-header {
    min-width: auto;
  }
}
.details .read-more-wrapper {
  max-width: 350px;
}
.details .row {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.details .row div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.section-card {
  display: flex;
  flex-wrap: wrap;
}
.section-card * {
  flex: 1;
  min-width: 250px;
  border-bottom: 1px solid #eee;
}

.section-header {
  display: flex;
  width: 100%;
}

.section-body {
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
