@use "../../vars/variables/_index.scss" as variables;

.dialog {
  position: fixed;
  border-radius: variables.$border-radius;
  display: flex;
  flex-direction: column;
  padding: variables.$rem;
  overflow-y: auto;
  top: 10%;
  aspect-ratio: 16/9;
  width: 95%;
  z-index: 9;
  max-height: 85vh;
  min-height: 60vh;
}
.dialog-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variables.$rem;
  .heading {
    text-align: center;
  }
}
.dialog-navigation {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 3%;
  z-index: 1;
}
.btn-dialog {
  max-width: variables.$small-element-width;
}
.dialog-body {
  padding: variables.$rem;
}
.dialog-cancel {
  position: fixed;
  min-height: fit-content;
  height: fit-content;
  max-height: fit-content;
  aspect-ratio: auto;
  top: 30%;
  width: 50%;
  z-index: 10;
}
.sections-container {
  display: grid;
  gap: variables.$rem;
  grid-template-columns: repeat(3, minmax(0, auto));
  justify-content: center;
  grid-auto-rows: max-content;
  // only 1 item in last grid row
  > *:nth-child(3n-2):nth-last-of-type(1) {
    grid-column: 2;
  }
}
.section-container {
  display: grid;
  gap: variables.$rem;
  grid-template-columns: repeat(3, minmax(0, auto));
  justify-content: center;
  // grid-auto-rows: max-content;
  // only 1 item in last grid row
  > *:nth-child(3n-2):nth-last-of-type(1) {
    grid-column: 2;
  }
}
