@use "../../vars/mixin/_index.scss" as mixin;

@use "../../vars/variables/_index.scss" as variables;

.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: variables.$rem;
}
.calendar-package-details {
  width: 100%;
  flex: 1;
  max-width: 100%;
  text-align: left;
  align-items: flex-start;
}
.btn-calendar-tile--today {
  background-color: variables.$action-color;
}
.btn-calendar-tile--selected {
  background-color: variables.$action-color-accent;
}

.btn-calendar-tile--muted {
  cursor: not-allowed;
}
.btn-calendar-tile {
  min-width: 0;
  padding: 0;
  position: relative;
  min-height: 50px;
  .icon-tile-ping {
    position: absolute;
    top: -9%;
    right: -2%;
    background-color: variables.$ping-color;
    padding: variables.$rem025;
    border-radius: 100%;
    color: variables.$dark-primary;
  }
  @include mixin.devices(mobile) {
    min-height: 40px;
  }
}
.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: variables.$rem025;
  width: 100%;
  @include mixin.devices(mobile) {
    width: 100%;
    align-items: center;
  }
}
.calendar-events {
  display: flex;
  width: 100%;
  gap: variables.$rem;
  @include mixin.devices(mobile) {
    flex-direction: column;
  }
}
.calendar-event-cart {
  display: flex;
  width: 100%;
  gap: variables.$rem;
  .hero {
    max-height: 15vh;
  }
}
.calendar-navigation {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  @include mixin.devices(mobile) {
    .btn-start,
    .btn-last {
      display: none;
    }
  }
}
.calendar-navigation .heading {
  text-align: center;
}
.calendar-navigation-next-buttons {
  justify-content: flex-end;
}
.calendar-week,
.calendar-view-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: variables.$rem 0;
}
