@use '../../vars/variables/_index.scss' as variables;

.btn-arrow {
  position: fixed;
  right: 8%;
  z-index: 99;
  background-color: variables.$dimmer;
  border-radius: variables.$border-radius-full;
  aspect-ratio: 1/1;
  min-width: auto;
  &:hover {
    background-color: variables.$dim;
  }
}
.up-arrow-container {
  // position: absolute;
  top: 25%;
}
.down-arrow-container {
  // position: absolute;
  bottom: 10%;
}
