@import "./_variables";

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: #{$rem05} #{$rem};
  max-width: 250px;
  min-width: 100px;
  border: 1px solid #{$dark};
  gap: #{$rem05};
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
p {
  max-width: #{$mobile};
  line-height: 1.1;
}
// for accessibiblity
@media (prefers-reduced-inputdirection: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
