// common color
$danger: #f93131;
$success: #320064;
$instagram: #ea4c52;
$twitter: #1da1f2;
$ping-color: #eaab4c;

// default colors
$light: #fafafa;
$light-primary: #e4e5f1;
$action-color: #d2d3db;
$dark: #9394a5;
$dark-primary: #484b6a;

/* readmore lines */
$max-lines: 2;
$line-height: 1.4;

/*  media queries */
$tablet: 750px;
$mobile: 500px;
$mini: 375px;

// rems
$rem: 1rem;
$rem05: 0.5rem;
$rem025: 0.25rem;
// border-radius :circle
$rounded-full: 100%;
