// common color
$danger: #f93131;
$success: #320064;
$instagram: #ea4c52;
$twitter: #1da1f2;
$ping-color: #eaab4c;
$muted: #b3b4b4;
$star: #ffee99;
$star-filled: #ffd700;
$text-bubble: #aedfff;
$visa: #15195a;
$mastercard-red: #eb001b;
$mastercard-orange: #ff5f00;
$mastercard-yellow: #f79e1b;
// default colors
$light: #fafafa;
$light-primary: #e4e5f1;
$action-color: #ffee99;
$action-color-accent: #ffd87d;
$dark: #9394a5;
$dark-primary: #484b6a;
$cta-color: #ffa500;
/* readmore lines */
$max-lines: 2;
$line-height: 1.4;

/*  media queries */
$tablet: 750px;
$mobile: 500px;
$mini: 375px;

// rems
$rem: 1rem;
$rem05: 0.5rem;
$rem025: 0.25rem;
// border-radius :circle
$rounded-full: 100%;
$border-radius: 4px;
