// common color
$danger: #f93131;
$success: #320064;
$instagram: #ea4c52;
$twitter: #1da1f2;
$gray: #777;

/* readmore lines */
$max-lines: 2;
$line-height: 1.4;

/*  media queries */
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 480px)";
$tablet: 768px;
$mobile: 500px;
$mini: 375px;

// rems
$rem: 1rem;
$rem-05: 0.5rem;
$rem-025: 0.25rem;
// border-radius :circle
$rounded-full: 100%;

// gap
$gap: 1rem;
$gap-05: 0.5rem;
$gap-025: 0.25rem;

code {
  $danger: $danger;
  $success: $success;
  $instagram: $instagram;
  $twitter: $twitter;
  $gray: $gray;
  $max-lines: $max-lines;
  $line-height: $line-height;
  $media-desktop: $media-desktop;
  $media-tablet: $media-tablet;
  $media-mobile: $media-mobile;
  $tablet: $tablet;
  $mobile: $mobile;
  $mini: $mini;
  $rem: $rem;
  $rem-05: $rem-05;
  $rem-025: $rem-025;
  $gap: $gap;
  $gap-05: $gap-05;
  $gap-025: $gap-025;
  $rounded-full: $rounded-full;
}
