// common color
$danger: #f93131;
$success: #320064;
$instagram: #ea4c52;
$twitter: #1da1f2;
$ping-color: #eaab4c;
$muted: #b3b4b4;
$star: #ffee99;
$star-filled: #ffd700;
$text-bubble: #aedfff;
$visa: #15195a;
$mastercard-red: #eb001b;
$mastercard-orange: #ff5f00;
$mastercard-yellow: #f79e1b;
$facebook: #4267b2;
// default colors
$default-bg-color: white;
$default-bg-color-alt: #000000;
$default-text: #000000;
$default-text-alt: white;
$light-primary: #e4e5f1;
$light-secondary: #fafafa;
// todo update action color
$action-color: #ffee99;
$action-color-accent: #ffd87d;
$faded: rgb(184, 184, 184);
$dark-primary: #484b6a;
$cta-color: #ffa500;
$dark-gray: #2c3e50;
// theme colors
$light: #f2f2f2;
$dark: #9394a5;
$dim-color: #fafafa;

/* readmore lines */
$max-lines: 2;
$line-height: 1.4;

/*  media queries */
$tablet: 750px;
$mobile: 580px;
$mini: 375px;

// $min-width:

// rems
$rem: 1rem;
$rem05: 0.5rem;
$rem025: 0.25rem;
// border-radius :circle
$rounded-full: 100%;
$border-radius: 5px;
// app/component sizes
$min-width-icons: 50px;
$min-height: 120px;
$min-width: 120px;
$min-width-sm: 50px;
$max-width-sm: 250px;
$max-width: 400px;
$max-width-lg: 600px;
// $max-width-form: 6
