// common color
$danger: #f93131;
$success: #320064;

// main active colors
$primary-color: #b33951;
$primary-color2: #e3d081;
$primary-color3: #91c7b1;
// background colors
$secondary-color: #54494b;
$secondary-color2: #f1f7ed;
// text colors
$primary-text: #333;
$secondary-text: #eee;

// popular icons
$instagram: #ea4c52;
$twitter: #1da1f2;

// shadow blends
$shadow-color: #eee;
$shadow-color2: purple;
$shadow-color3: #ddd;

/* readmore lines */
$max-lines: 2;
$line-height: 1.4;

/*  media queries */
$desktop: "only screen and (max-width : 1024px)";
$tablet: "only screen and (max-width : 768px)";
$mobile: "only screen and (max-width : 480px)";
$tablet: 768px;
$mobile: 500px;
$mini: 375px;

// radius
$radii-round: 0.5rem;
$radii-circle: 100%;
