// .paginate-form {
//   // max-height: 300px;
//   // overflow-y: auto;
//   // padding: 0 #{$rem};
//   // display: flex;
//   // flex-direction: column;
//   // gap: #{$rem};
// }

.form-field-container {
  max-height: #{$max-form-height};
  overflow-y: auto;
  padding: #{$rem};
}
