.btn-arrow {
  position: fixed;
  right: 8%;
  z-index: 99;
  background-color: #{$dimmer};
  border-radius: #{$border-radius-full};
  aspect-ratio: 1/1;
  min-width: auto;
  &:hover {
    background-color: #{$dim};
  }
}
.up-arrow-container {
  // position: absolute;
  top: 25%;
}
.down-arrow-container {
  // position: absolute;
  bottom: 10%;
}
