@use "../../vars/variables/_index.scss" as variables;
@use "../../vars/mixin/_index.scss" as mixin;

.buttons-container {
  display: grid;
  gap: variables.$rem;
  // justify-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(variables.$min-cell-width, 1fr));
  grid-template-rows: auto auto;
  @include mixin.devices(mobile) {
    grid-template-columns: 1fr;
  }
}
.buttons-container-row {
  display: flex;
  gap: variables.$rem;
}
.button-container {
  display: flex;
  gap: variables.$rem;
  * {
    width: 100%;
    max-width: 100%;
  }
}

.bag-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.button-hint-container {
  position: relative;
}
.hint-container {
  min-width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
}
.hint-container .heading {
  text-align: center;
}
