.buttons-container {
  display: grid;
  gap: #{$rem};
  // justify-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(#{$min-cell-width}, 1fr));
  grid-template-rows: auto auto;
  @include devices(mobile) {
    grid-template-columns: 1fr;
  }
}
.buttons-container-row {
  display: flex;
  gap: #{$rem};
}
.button-container {
  display: flex;
  gap: #{$rem};
  * {
    width: 100%;
    max-width: 100%;
  }
}

.bag-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
