.btn {
  display: flex;
  gap: #{$rem};
  align-items: center;
  padding: #{$rem};
  border-radius: #{$border-radius};
}
.btn-icon {
  // max-width: #{$min-icon-width};
  min-width: auto;
  position: relative;
  gap: 0;
}
.btn-main {
  width: 100%;
  max-width: #{$max-width-button-lg};
  border: 1px solid #{$faded};
  // padding: 0;
  background-color: #fafafa;
  white-space: nowrap;
  &:hover {
    border: 1px solid #{$dark-mode};
  }
  &:focus {
    border: 1px solid #{$dark-mode};
  }
  @include devices(mobile) {
    white-space: wrap;
  }
}

.btn-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: #{$rem};
  min-width: 100%;
  padding: 0;
  // min-height: 100%;
}
.btn-cta {
  background-color: #{$cta-color};
  width: 100%;
}
.btn-cancel {
  width: 100%;
  background-color: #{$danger};
  color: #{$light-primary};
}
.btn-removal,
.btn-remove {
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  right: 0;
  width: #{$icon-width-sm};
  min-width: auto;
  border-radius: #{$border-radius};
  color: #{$light-primary};
  background-color: #{$error};
  z-index: 3;
  &:hover {
    background-color: #{$danger};
    border: 1px solid #{$dark};
  }
}
.btn-burger,
.btn-x {
  min-width: #{$min-width-sm};
  justify-content: center;
}
.btn-logo {
  font: initial;
  max-width: #{$max-width-button-lg};
  padding: 0;
  // width: 100%;
}

.btn-checkout {
  position: sticky;
  min-width: 100%;
  max-width: 100%;
}
