.btn {
  padding: #{$rem};
  border-radius: #{$border-radius};
}
.btn-submit {
  width: 100%;
}
.btn-main {
  width: 100%;
  max-width: #{$max-width-button-lg};
  border: 1px solid #{$faded};
  // display: grid;
  // gap: #{$rem};
  // align-items: center;
  // justify-items: center;
  // grid-template-rows: 1fr;
  // grid-template-columns: 1fr auto;
  &:hover {
    border: 1px solid #{$dark-mode};
  }
  &:focus {
    border: 1px solid #{$dark-mode};
  }
}
.btn-cta {
  background-color: #{$cta-color};
  width: 100%;
  font-size: large;
  height: min-content;
}
.btn-cancel {
  width: 100%;
  background-color: #{$danger};
  color: #{$light-primary};
}
.btn-burger,
.btn-x {
  min-width: #{$min-width-sm};
  justify-content: center;
}
.btn-logo {
  font: initial;
  max-width: 100%;
  width: 100%;
}
.btn-icon {
  max-width: #{$min-icon-width};
  min-width: auto;
}
