.btn-link {
  text-decoration: underline;
}
.btn-small {
  min-width: 50px;
  max-width: 60px;
}
.custom-btn-link {
  display: flex;
  justify-content: center;
  border-radius: #{$border-radius};
}

.btn-danger {
  border: none;
  color: white;
  background-color: #{$danger};
}
.btn-payment {
  gap: #{$rem};
  justify-content: flex-start;
  flex: 1;
  @include devices(mobile) {
    justify-content: center;
  }
}
.btn-selected,
.btn-active {
  background-color: #{$action-color};
}
.btn-add {
  // border: 1px solid #{$dark-primary};
  background-color: #{$action-color-alt};
}
.btn-subtract {
  border: 1px solid #{$dark-primary};
  // color: #{$light};
  // background-color: #{$error};
}
