@use '../../vars/mixin/_index.scss' as mixin;

@use '../../vars/variables/_index.scss' as variables;

.btn-link {
  text-decoration: underline;
}
.btn-small {
  min-width: 50px;
  max-width: 60px;
}
.custom-btn-link {
  display: flex;
  justify-content: center;
  border-radius: variables.$border-radius;
}

.btn-danger {
  border: none;
  color: white;
  background-color: variables.$danger;
}
.btn-payment {
  gap: variables.$rem;
  justify-content: flex-start;
  flex: 1;
  @include mixin.devices(mobile) {
    justify-content: center;
  }
}
.btn-selected,
.btn-active {
  background-color: variables.$action-color;
  color: variables.$dark-mode;
}
.btn-add {
  // border: 1px solid variables.$dark-primary;
  background-color: variables.$action-color-alt;
}
.btn-subtract {
  border: 1px solid variables.$dark-primary;
  // color: variables.$light;
  // background-color: variables.$error;
}
