button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: #{$rem05} #{$rem};
  max-width: 250px;
  min-width: #{$min-width};
  border: none;
  border-radius: #{$border-radius};
  gap: #{$rem};
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
