// add basic styling
form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: #{$rem};
  max-width: #{$max-width-lg};
  width: 100%;
}
input,
textarea {
  font-family: sans-serif;
  padding: #{$rem05} #{$rem};
  min-width: #{$min-width};
  border-radius: #{$border-radius};
  border: none;
}
textarea {
  min-height: #{$min-height};
  width: 100%;
}
// replace default styling
select {
  box-shadow: none;
  border: none;
  background-image: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  min-width: #{$min-width};
  width: 100%;
  outline: none;
  padding: #{$rem05};
  &::-ms-expand {
    display: none;
  }
}
// add basic styling
.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  outline: 1px solid #{$faded};
  border-radius: #{$border-radius};
  max-width: #{$max-width-sm};
  width: 100%;
  &:focus {
    outline: 1px solid #{$dark-mode};
  }
  &:hover {
    outline: 1px solid #{$dark-mode};
  }
}

// can only update colors
option {
  color: inherit;
  background-color: inherit;
}

// add correct box sixing and remove padding
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
