// add basic styling
form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: #{$rem};
}
input,
textarea {
  padding: #{$rem05} #{$rem};
  width: 100%;
  min-width: 200px;
  border-radius: #{$rem05};
}

// add basic styling
.select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100px;
  width: 100%;
  // add arrow
  &::after {
    content: "\25bc";
    position: absolute;
    top: 25%;
    right: 5%;
    transition: 0.2s all ease;
    pointer-events: none;
  }
  &:hover::after {
    color: #{$action-color};
  }
}
select {
  border-radius: #{$border-radius};
  appearance: none;
  background-image: none;
  background-color: transparent;
  flex: 1;
  padding: #{$rem05};
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  &::-ms-expand {
    display: none;
  }
}

option {
  color: inherit;
  background-color: inherit;
}

// add correct box sixing and remove padding
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
