// consistent line-spacing even when element have different line-heights
html {
  height: 100%;
  // line-sizing is an unknown value in scss
  // line-sizing: normal;
}

//  Remove the tiny space around the edge of the page.
body {
  margin: 0;
  // use dimmer color - no blinding light
  background-color: #{$dim-color};
}

// Maintain `hidden` behaviour when overriding `display` values.
[hidden] {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

// legacy browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

// add basic styling
header {
  display: grid;
  align-content: center;
  grid-template-columns: 2fr 4fr;
  gap: #{$rem};
  min-height: #{$min-height};
}
footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: #{$rem};
  gap: #{$rem};
  min-height: #{$min-height};
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: inherit;
  padding: #{$rem05} #{$rem};
  max-width: 250px;
  min-width: #{$min-width};
  border: none;
  border-radius: #{$border-radius};
  gap: #{$rem};
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
