// consistent line-spacing even when element have different line-heights
html {
  height: 100%;
  line-sizing: normal;
}

//  Remove the tiny space around the edge of the page.
body {
  margin: 0;
  // use dimmer color - no blinding light
  background-color: #{$light};
}

// Maintain `hidden` behaviour when overriding `display` values.
[hidden] {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

// legacy browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

// add basic styling
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: #{$rem};
}
footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: #{$rem};
  gap: #{$rem};
  min-height: #{$min-height};
}
