// consistent line-spacing even when element have different line-heights
html {
  height: 100%;
  // line-sizing is an unknown value in scss
  // line-sizing: normal;
}

//  Remove the tiny space around the edge of the page.
body {
  margin: 0;
  // use dimmer color - no blinding light
  background-color: #{$dim-color};
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

// Maintain `hidden` behaviour when overriding `display` values.
[hidden] {
  display: none;
}
// Add basic styling to disabled components
[disabled] {
  cursor: not-allowed;
  background: linear-gradient($dimmer, $dim);
}

*,
::before,
::after {
  box-sizing: border-box;
}

// legacy browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

// add basic styling
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: #{$rem};
  min-height: #{$min-height};
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
// add default link color
a {
  color: inherit;
  display: inline-block;
  border-radius: #{$border-radius};
  user-select: none;
  white-space: nowrap;
}
// add basic stying
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font: inherit;
  color: inherit;
  padding: #{$rem05} #{$rem};
  max-width: #{$max-width-button};
  min-width: #{$min-width};
  width: 100%;
  border: none;
  border-radius: #{$border-radius};
  gap: #{$rem};
  cursor: pointer;
}
