@use "../../vars/mixin/_index.scss" as mixin;

@use "../../vars/variables/_index.scss" as variables;

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
  gap: variables.$rem;
  width: 100%;
  border-radius: variables.$border-radius;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: variables.$rem;
  color: inherit;
}
.nav-order-first {
  order: -1;
}
.nav-order-last {
  order: 1;
}
.primary-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 0;
  @include mixin.devices(tablet) {
    display: none;
  }
}
.secondary-navigation {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0.5rem;
}
