.navigation {
  display: flex;
  align-items: center;
  list-style: none;
  gap: #{$rem};
  border-radius: #{$border-radius};
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: #{$rem};
  color: inherit;
}
.nav-order-first {
  order: -1;
}
.nav-order-last {
  order: 1;
}
