.user-avatar {
  border-radius: 100%;
  aspect-ratio: 1/1;
  min-width: auto;
}
.user-avatar-container {
  display: flex;
  align-items: center;
  gap: var(--space-medium);
}
.avatar-sm {
  max-width: 50px;
  min-width: 50px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.hero-contact-sm,
.preview-hero-empty {
  min-width: 50px;
  max-width: 50px;
  max-height: 50px;
  min-height: 50px;
  border-radius: var(--radius-full);
  aspect-ratio: 1/1;
}
