@use "../../vars/mixin/_index.scss" as mixin;

@use "../../vars/variables/_index.scss" as variables;

.hero-card {
  position: relative;
  display: grid;
  align-items: center;
  gap: variables.$rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  @include mixin.devices(mobile) {
    .hero-wrapper {
      order: 0;
    }
    .hero-card-header {
      order: 1;
    }
  }
  @include mixin.devices(tablet) {
    // margin-top: 1rem;
    grid-template-columns: 1fr;
  }
}
.hero-card-header {
  display: grid;
  text-align: center;
  justify-content: center;
  gap: variables.$rem;
}
.hero-card-heading {
  width: 100%;
  min-width: variables.$min-width;
  max-width: 28ch;
}
.hero-card-body-alt {
  display: flex;
  gap: variables.$rem;
  @include mixin.devices(mobile) {
    flex-wrap: wrap;
  }
}
.hero-user {
  border-radius: 100%;
  max-width: 100px;
  aspect-ratio: 1/1;
}
