@use "../../vars/variables/_index.scss" as variables;

.icon {
}
.icon-instagram {
  color: variables.$instagram;
}
.icon-twitter {
  color: variables.$twitter;
}
.icon-twitter {
  color: variables.$github;
}
.icon-x {
  color: variables.$xTwitter;
}
.icon-linkedin {
  color: variables.$linkedin;
}
.icon-hero {
  object-fit: cover;
  object-position: center;
}
.icon-star {
  color: white;
  stroke: variables.$star;
  stroke-width: 3rem;
}
.icon-star-filled {
  color: variables.$star-filled;
}
.socials {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.socials-icons {
  margin: 1rem auto;
  display: flex;
  gap: variables.$rem;
}
.icon-visa {
  color: variables.$visa;
}
.icon-mastercard {
  color: variables.$mastercard-red;
}
.visa-credit {
  display: flex;
}
.icon-store {
  color: brown;
}
.icon-facebook {
  color: variables.$facebook;
}
.select-icon {
  aspect-ratio: 1/1;
  max-width: variables.$small-element-width;
}
.ping-count {
  position: absolute;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  aspect-ratio: 1/1;
  padding: 0.25rem;
  top: -0.5rem;
  right: -0.5rem;
  background-color: variables.$ping-color;
  max-width: 30px;
  .icon {
    max-width: 15px;
    min-width: 10px;
    aspect-ratio: 1/1;
  }
}
