.icon {
  min-width: #{$min-icon-width};
}
.icon-instagram {
  color: #{$instagram};
}
.icon-twitter {
  color: #{$twitter};
}
.icon-twitter {
  color: #{$github};
}
.icon-x {
  color: #{$xTwitter};
}
.icon-linkedin {
  color: #{$linkedin};
}
.icon-hero {
  min-width: #{$min-width-sm};
  object-fit: cover;
  object-position: center;
}
.icon-star {
  color: white;
  stroke: #{$star};
  stroke-width: 3rem;
}
.icon-star-filled {
  color: #{$star-filled};
}
.socials {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.socials-icons {
  margin: 1rem auto;
  display: flex;
  gap: #{$rem};
}
.icon-visa {
  color: #{$visa};
}
.icon-mastercard {
  color: #{$mastercard-red};
}
.visa-credit {
  display: flex;
}
.icon-store {
  color: brown;
}
.icon-facebook {
  color: #{$facebook};
}
.select-icon {
  aspect-ratio: 1/1;
  max-width: #{$min-width-sm};
}
.ping-count {
  position: absolute;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  aspect-ratio: 1/1;
  padding: 0.25rem;
  top: -0.5rem;
  right: -0.5rem;
  background-color: #{$ping-color};
  max-width: 30px;
  .icon {
    max-width: 15px;
    min-width: 10px;
    aspect-ratio: 1/1;
  }
}
