@use "../../vars/variables/_index.scss" as variables;

.blur-load {
  background-size: cover;
  background-position: center;
  border-radius: variables.$border-radius;
}
.blur-load--loaded {
  background-image: none !important;
  & > .hero {
    opacity: 1;
  }
}
.blur-load > .hero {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
