.preview-hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: #{$rem};
}

.preview-hero {
  aspect-ratio: 1/1;
  object-fit: contain;
  max-height: #{$min-width};
}
.preview-hero-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
  aspect-ratio: 16/9;
  max-height: #{$min-width};
  max-width: #{$max-width-sm};
  min-height: #{$min-thumbnail-height};
  border-radius: #{$border-radius};
}
.preview-cancel {
  position: absolute;
  top: 10%;
  left: 85%;
  max-width: #{$min-icon-width};
  min-width: #{$min-icon-width};
  aspect-ratio: 1/1;
  border-radius: 100%;
}
