@use "../../vars/variables/_index.scss" as variables;

.preview-hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: variables.$rem;
}

.preview-hero {
  aspect-ratio: 1/1;
  object-fit: contain;
  max-height: 100px;
}
.preview-hero-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
  aspect-ratio: 16/9;
  max-height: 100px;
  max-width: variables.$max-width-sm;
  min-height: variables.$min-thumbnail-height;
  border-radius: variables.$border-radius;
}
.preview-cancel {
  position: absolute;
  top: 10%;
  left: 85%;
  max-width: 25px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
