.preview-hero {
  aspect-ratio: 1/1;
  object-fit: contain;
  max-height: #{$min-width};
  max-width: #{$max-width-sm};
}
.preview-hero-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
  aspect-ratio: 1/1;
  max-height: #{$min-width};
  max-width: #{$max-width-sm};
  border-radius: #{$border-radius};
  border: 1px solid #{$dark};
}
.preview-cancel {
  position: absolute;
  top: 10%;
  left: 85%;
  min-width: min-content;
  width: 25px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.preview-hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: #{$rem};
}
