// common color
$danger: crimson;
$success: #4bb161;
$ping-color: #eaab4c;

// todo update action color
$action-color: #ffee99;
$action-color-accent: #ffd87d;

$faded: rgb(184, 184, 184);
$dimmer: rgba(230, 230, 230, 0.7);
$dim: rgba(196, 196, 196, 0.7);
$dark-primary: #484b6a;
$cta-color: #ffa500;
$icon-color: #333;
